[2016-06-02 23:22] gengmao opened #2 "How to configure this tool for all users on an instance except configuring ~/.docker/config.json for each user?"
This tool works great! I suppose I don't need worry about the rate limit of `aws ecr get-login` any more, right?

Also I am curious is there a way to configure this tool for all users on an instance, without setting ~/.docker/config.json for each user? Thanks!

[2016-06-02 23:48] samuelkarp commented on #2
Hi @gengmao,

The credential helper does not cache credentials today, so the rate limit for `GetAuthorizationToken` can still be a concern if you're pushing/pulling with high frequency.

I believe Docker's credential configuration is per-user today, so you will need to set it in `~/.docker/config.json` for each user.

Thanks,
Sam

[2016-06-03 00:17] gengmao commented on #2
@samuelkarp Thanks for your prompt answer. If I understand your words correctly, using this tool means each docker pull/push will trigger a `GetAuthorizationToken` request?
Will this increase the request rate of `GetAuthorizationToken`, as without this tool docker pull/push will use the token stored in ~/.docker/config.json, we don't need to get a new token until it expires?

[2016-06-03 01:33] samuelkarp commented on #2
Yes, each `docker push`/`docker pull` will trigger a `GetAuthorizationToken` request.  As you mention, this is different from how a token can be stored in `~/.docker/config.json` when using the default credential behavior in Docker.

[2016-06-03 15:44] gengmao commented on #2
I see. Maybe I will stay with old way for now, to avoid cause too many 'GetAuthorizationToken' request to ECR.
Btw I learned DOCKER_CONFIG can be used to let docker find config.json. I am closing this issue, thanks again!

[2016-06-03 15:44] #2 closed

[2016-07-05 17:50] samuelkarp commented on #2
@gengmao: @sentientmonkey just added caching via #3, so that should hopefully address your concern about the request rate to `GetAuthorizationToken`.

[2016-07-05 17:57] sentientmonkey opened #6 "Remove expired tokens in file cache"
On load or save, we should remove any expired tokens. Since we only use a token up to it's half-life, removing after expiration seems pretty reasonable. Since we additionally use a hash of the access key in the key, we may end up creating quite a number of entries over time.

[2016-08-02 08:27] f-barth opened #7 "Expired cached token is considered valid -> authorization fails"
I'm seeing some weird behaviour in the credentials helper:
I have a token from yesterday in my cache:
[code]

When I do a `docker pull` I get the following result:
[code]

The credentials helper's log shows the following:
[code]

It seems to me, as if the credentials helper does somehow not deem the expired token invalid. Do you have any insights on that?

[2016-08-17 03:31] gengmao opened #9 "docker build can't pull base image with this ecr-login helper?"
Hello,

I rolled out this ecr-login helper a few days ago, and I found `docker build` failed with `unauthorized: authentication required` if the Dockerfile is FROM an image in ECR.

This ecr-login helper works fine with docker pull. The error can be worked around by pulling the image before `docker build`, but if the `docker build` has an `--pull` option, the build would failed with same `unauthor

[2016-08-20 07:06] samuelkarp commented on #9
@gengmao Thanks for reporting this.  I did a little investigation and it looks like the Docker CLI uses the `auths` section in `~/docker/config.json` to find [which registries it needs credentials for](https://github.com/docker/docker/blob/v1.12.1/cliconfig/credentials/native_store.go#L59-L61) instead of parsing the `FROM` line in the Dockerfile.  I was able to get `docker build` to work by changi

[2016-08-20 08:15] gengmao commented on #9
Adding "auths" solved my problem. Thanks @samuelkarp!
I am closing this issue. Just probably worth to mention the docker build behavior in readme.md, for people like me who do not recall it.

[2016-08-20 08:15] #9 closed

[2016-08-24 01:15] #7 closed

[2016-09-15 07:57] tuannvm opened #11 "Can not pull via docker-compose"
As the title, pulling image by using `docker-compose pull` doesn't work, `ERROR: unauthorized: authentication required`
 pushing is fine.

[2016-09-15 22:13] samuelkarp commented on #11
@tuannvm Thanks for reporting.  It looks like docker-compose doesn't work with the credential helpers yet: https://github.com/docker/compose/issues/3683

[2016-09-16 03:52] fsamir opened #12 "ARM support>?"
This is more a suggestion than an issue. It would be nice to publish the binaries for most common platforms, so users don't have to bother building it themselves.

On the same token, I've tried to build it for arm without much success, most likely because this is my first contact with golang.

This is what I am using in makefile -> make docker:

[code]
Also, I had to add the following to ecr.go, t

[2016-09-16 04:45] samuelkarp commented on #12
@fsamir Thanks for opening this!  I've opened https://github.com/awslabs/amazon-ecr-credential-helper/pull/13 to make it easier to do cross-architecture compilation so you can build for ARM.

[2016-09-16 05:40] samuelkarp commented on #12
@fsamir I've merged #13, so if you pull from master you should be able to build with `make docker TARGET_GOARCH=arm`.

[2016-09-16 05:40] #12 closed

[2016-09-16 06:00] fsamir commented on #12
Thanks! I will give it a try.

[2016-09-16 06:08] fsamir commented on #12
Working like a charm. Appreciated.

[2016-10-25 01:38] kilianc opened #14 ""no basic auth credentials""
I am running on CoreOS and after compiling and copying the binary and following steps [here](https://aws.amazon.com/blogs/compute/authenticating-amazon-ecr-repositories-for-docker-cli-with-credential-helper/) I keep getting the same error:

    Error response from daemon: Get https://xxxxxxx.dkr.ecr.us-east-1.amazonaws.com/v2/<some>/<image>/manifests/latest: no basic auth credentials

Even when I

[2016-10-25 04:17] kilianc commented on #14
Figured out. I had to run on docker `.11` which is only available on coreos-beta ATM.
Thanks!

[2016-10-25 04:17] #14 closed

[2016-10-25 04:17] kilianc opened #15 "Publish compiled binary as github releases"
It would be very helpful to be able to fetch the binary from github!

[2016-10-25 16:21] samuelkarp commented on #14
Glad you were able to get it working!

[2016-10-27 13:26] ajtrichards opened #16 "Authentication required for image to build from"
Our Jenkins install is trying to build a container and we keep getting the following error:

[code]

We're using the credential helper to authenticate and it's been working fine. It's only since we changed our base image to a private repository we've had the problem.

[2016-10-27 17:36] samuelkarp commented on #16
@ajtrichards Thanks for reporting this.  Docker does not currently parse the `FROM` line in order to request credentials and instead relies on enumerating all possible registries in order to send credentials to the daemon for `docker build`.  There's a work-around here: https://github.com/awslabs/amazon-ecr-credential-helper/issues/9#issuecomment-241184224.

A longer-term approach is to update thi

[2016-10-27 18:19] ajtrichards commented on #16
Hi @samuelkarp - We already had in place the work around in the #9 comment:

[code]

But still had the error. We made sure this was in place for our ec2-user and root user.

[2016-11-03 22:46] lox commented on #15
Yeah, or at the very least make this `go get`-able.

[2016-11-03 23:01] samuelkarp commented on #15
@lox You can `go get github.com/awslabs/amazon-ecr-credential-helper/...`.

[2016-11-03 23:15] kilianc commented on #15
@samuelkarp I ended up using:

[code]

[2016-11-03 23:16] lox commented on #15
@samuelkarp wouldn't that install a `cmd` binary?

[2016-11-03 23:20] samuelkarp commented on #15
@lox Yes, you'll need to rename it to `docker-credential-ecr-login` and place it in your `PATH`.

[2016-11-03 23:29] lox commented on #15
Wouldn't a better approach be to add a subdir of cmd called `docker-credential-ecr-login`?

[2016-11-05 22:14] djb61 opened #17 "Doesn't observe profiles for AWS credentials"
I have a number of AWS accounts with keys for each. To work with these I have configured them as profiles with the CLI using `aws configure --profile=xxxx`

In this case the entries in `~/.aws/credentials` appear in a block of `[profilename]` instead of the usual `[default]`.

I do not have a `[default]` block in my credentials file at all and with the CLI I use the `AWS_DEFAULT_PROFILE` environme

[2016-11-05 22:30] samuelkarp commented on #17
@djb61 You can change the profile used by the credential helper by setting the `AWS_PROFILE` environment variable.

For example: `AWS_PROFILE=myprofile docker pull 137112412989.dkr.ecr.us-west-2.amazonaws.com/amazonlinux:latest`

[2016-11-06 00:56] djb61 commented on #17
Thanks, that does indeed work. It is a bit more tedious when I only have ECR with one account but I can see that it does make sense and addresses the question of working with ECR across multiple accounts.

[2016-11-06 02:25] samuelkarp commented on #17
Glad it's working for you. :smile:

[2016-11-06 02:25] #17 closed

[2016-12-19 21:49] tuxtek opened #19 "CLOSED_WAIT mishandling of messages"
We were trying to figure out why we weren't getting messages sent through the fluent go proxy. The issue was intermittent and while the forwarder would say that it was sending those messages onto fluentd...they never arrived.

In the end, we discovered that the go proxy will occasionally go into a CLOSED_WAIT state when no messages are coming through for a while. The connection is 'eventually' clo

[2016-12-19 21:50] #19 closed

[2016-12-19 21:50] tuxtek commented on #19
Wrong repo. Whoops

[2016-12-19 22:57] digitalfiz opened #20 "Doesn't work with assumed roles"
I can not get this to work using the env var AWS_PROFILE. Maybe the sdk used needs to be updated?

EDIT: This works with a normal profile but it seems to die on a profile that is an assumed role.

[2016-12-19 23:18] samuelkarp commented on #20
Normal profiles work, but assumed roles are not quite supported yet.  At a minimum this will require an update to the version of the SDK that is used in this project, but may require additional changes as well.

[2016-12-19 23:37] digitalfiz commented on #20
I updated my local copy to the newest SDK, rebuilt it and it still wouldn't work until I also set `AWS_SDK_LOAD_CONFIG=true`. I know you have to do some more testing but it seems to be working just fine with the most updated SDK.

[2016-12-19 23:39] samuelkarp commented on #20
If you want to send your update as a pull request (contributing under the terms of the Apache 2.0 license), we can probably take your commit after we've tested it.

[2016-12-19 23:41] digitalfiz commented on #20
Coming right up :)

[2016-12-20 01:11] samuelkarp commented on #20
Resolved by #21.

[2016-12-20 01:11] #20 closed

[2016-12-22 18:36] alasdairnicol commented on #20
@digitalfiz have you got this working using instance profiles on EC2? I can get it to work with assumed roles if I have the access key and secret key in my config file. However I can't get it to work with the instance profile when I remove the keys. I opened this https://github.com/aws/aws-sdk-go/issues/1019 because I think it might be an issue with the SDK, but it might just be a mistake in my `~

[2016-12-29 18:13] s80275 commented on #16
Hi @ajtrichards ,
We have the same problem and #9 it worked for me. We run Jenkins with specific OS user, like jenkins.
Did you run Jenkins with ec2-user or not?

[2017-02-09 18:52] gengmao opened #23 "docker build --pull issue with docker-engine 1.13"
Can easily test with a simple dockerfile
[code]
Docker 1.13, build it with --pull option will fail.
[code]
Errors in /var/log/upstart/docker.log
[code]
.docker/config.json:
[code]
Tested several workarounds:
- docker 1.12 has no problem
- docker 1.13, removing --pull option, docker build is fine
- docker 1.13, removing "credsStore": "ecr-login" from config.json, use aws ecr get-login, docker build

[2017-02-09 19:14] samuelkarp commented on #23
It looks like Docker changed this in a backwards-incompatible way in Docker 1.13.  This credential helper will need to be updated to provide the new `client.List` API (see https://github.com/docker/docker-credential-helpers/pull/25 and https://github.com/docker/docker/pull/26354).

I don't have an estimate for when I'd be able to get around to this.  If you're interested in taking a stab at it, we

[2017-02-09 19:30] gengmao commented on #23
@samuelkarp thanks for quick response. I will study the links a bit.

[2017-02-15 23:26] jaredm4 commented on #23
I'm pretty new to this credential helper, but could this backwards-incompatible change be what's causing my issue that I filed with Docker? https://github.com/docker/docker/issues/31063

[2017-02-16 00:38] samuelkarp commented on #23
@jaredm4 I don't know enough about how Swarm-mode handles authentication to know whether it's related.  However, my suspicion would be that it's unrelated; if I remember correctly Swarm-mode does not handle credential rotation without restarting all the containers.

[2017-02-24 18:17] sentientmonkey commented on #23
Started working on this a bit (at least vending and bringing in the List interface) in #26.

[2017-02-24 18:32] gengmao commented on #23
@sentientmonkey Hi Scott! Glad to see you here :) Thanks for helping on this 👍  I took a look at the sources but was distracted by other things...
One thing I was thinking is how to figure out a fix which is backwards-compatible with docker-engine < 1.13 and old config.json? If it is too difficult to achieve, that's understandable - I will plan to upgrade docker-engine, ecr-login, config.json toge

[2017-02-24 19:14] sentientmonkey commented on #23
:wave: :smile:
Reviewing over a few issues, I found this PR docker/docker#26354 - looks like they moved to the credential helper interface & added a dependency on List so they could fix build for credential helpers. docker/docker-credential-helpers#25 first implemented the List API, which wasn't in the original interface when we first implemented our helper. To keep it backwards compatible in 1.13

[2017-02-24 20:50] gengmao commented on #23
@sentientmonkey oh I was asking the reversed backword-compatibility. When your fix added the List interface implementation to ecr-login helper, will it become incompatible with docker-engine 1.12 and old config.json (I thought it needs changes to make ecr-login helper work with docker 1.13, isn't it)?

[2017-02-26 23:07] sentientmonkey commented on #23
@gengmao Looks like it's a matter of implementing the list command from the credential helper side. This might not help older versions of docker (i.e. 1.12), but for 1.13 and newer this should be a drop-in replacement that will fix build in many cases (if you've already pulled or pushed to that repo ahead of time). I'm not sure if adding the entry in the config.json will to continue to work after

[2017-03-01 00:17] #23 closed

[2017-03-01 01:01] sentientmonkey commented on #23
@gengmao I've merged in the fix - this should allow list to work without having to add entries in the config.json. You will have to pull (or push) an image before referencing it in your build, but this should work slightly better than before on 1.13.

[2017-03-01 01:03] sentientmonkey commented on #16
FYI, there is a slightly better workaround available after #26 was merged. If you are using Docker 1.13, it will rely on the list command in the credential helper to see what credentials are available. You may need to pull or push the image to add it to the cache file, but once it's there, subsequent builds will work (and refresh properly).

[2017-03-02 06:54] gengmao commented on #23
Thanks a lot @sentientmonkey! I tested and looks it works with both docker 1.12 and docker 1.13. The config.json needs not to change too.
I am interested in how ecr-login helper can support List without cache exist and how it can support the new "credHelpers" config like https://github.com/GoogleCloudPlatform/docker-credential-gcr, but that's not urgent.

[2017-03-08 19:29] sentientmonkey commented on #16
I think now that #26 and #28 have been merged in, FROM should work with your default registry if you are using docker 1.13.0 or newer. This should be a much better work-around than before. Let us know if this works for you!

[2017-03-09 16:16] Brett55 opened #29 "ecr cred helper is not working 100% of the time"
I'm finding that when an EC2 spins up, and does a docker pull from ECR, I sometimes get:

"unauthorized: authentication required"

On a second attempt, it pulls the image down. Is there some "init" that needs to occur before it works all the time?

[2017-03-09 21:13] Brett55 commented on #29
I can confirm its failing randomly, sometimes it works sometimes it doesn't. There is on first time pulling from ECR. It is not after x amount of time, etc

[2017-03-12 06:59] gengmao commented on #29
@Brett55 What are your docker engine version, ecr-login git commit id and .docker/config.json? When you hit error, did ~/.ecr/cache.json exist and what are the messages in ~/.ecr/log/ and docker engine's log?

[2017-03-13 16:03] samuelkarp commented on #29
@Brett55 Can you provide the logs that are generated in `~/.ecr/log` from the period where you're seeing authentication failures?

[2017-03-13 22:07] Brett55 commented on #29
@gengmao @samuelkarp

here is the output from docker version:

[code]

[2017-03-14 14:33] Brett55 commented on #29
@gengmao @samuelkarp

Also, the reason I switched to using the ecr cred helper was because we are getting rate limited when getting an auth token. Is the standard response when that happens this "unauthorized: authentication required"

[2017-03-14 14:50] sentientmonkey commented on #29
@Brett55 that is the error message that you'd receive if the cred helper was unable to provide credentials. But, without the logs from ~/.ecr/logs and specific git commit id of the credential helper their is not much that we can go on to help troubleshoot or reproduce your issue.

[2017-03-14 15:07] willejs commented on #15
Can you cut a release and a binary?

[2017-03-14 16:03] Brett55 commented on #29
@sentientmonkey

[2017-03-14 19:53] Brett55 commented on #29
When I get "unauthorized: authentication required", there is no cache.json

`[stderr]/root/.ecr/cache.json: No such file or directory`

[2017-03-18 12:59] elcolie opened #32 "Question: What is `TARGET_GOOS`?"
Hi
I am not new to docker and ECR, but I am new to `go`.
Could you please explain more detail on `TARGET_GOOS` please?
In the `README.md` does not say anything on it.

![awslabs_amazon-ecr-credential-helper__automatically_gets_credentials_for_amazon_ecr_on_docker_push_docker_pull](https://cloud.githubusercontent.com/assets/18206728/24072160/0f4c98ac-0c15-11e7-94d6-cc32097f4159.png)

[2017-03-20 17:49] samuelkarp commented on #32
`TARGET_GOOS` is used for cross-compiling the credential helper.  For example, if you want a credential helper binary that can run on OS X, you could run `TARGET_GOOS=darwin make docker`.

Please let us know if you have further questions.

[2017-03-20 17:49] #32 closed

[2017-03-23 20:09] kencochrane opened #33 "Any plan to add a project version with git tags?"
Is there any plans to add a project version, with associated git tags? Or should we always build from master assuming it will always be stable?

[2017-03-27 06:13] samuelkarp commented on #29
@Brett55 We need to see the logs in order to know what's going on.  You'll find them in `~/.ecr/log` after a failure occurs.

[2017-03-30 14:16] mathewpeterson commented on #33
We also would like to see this project use tags/releases.

[2017-04-05 20:26] rvandegrift opened #34 "How to use with a multi-profile ~/.aws/config?"
Is there a way to configure the credential helper for cross-account access with multiple accounts configured in `~/.aws/config`?  If I manually setup env vars with STS creds to an ECR account, `docker-credentials-ecr-login` seems to work, but `docker pull` does not:

[code]
[code]

[2017-04-05 20:29] samuelkarp commented on #6
The file cache is now used for listing all known registries.  We probably can't completely evict at this point, but we can empty the expired credentials at some point and reduce the amount of storage that is consumed.

[2017-04-05 20:31] samuelkarp commented on #11
It looks like Docker Compose now supports credential helpers with version 1.10.0; see https://github.com/docker/compose/issues/3683#issuecomment-276807977.  If you're still experiencing problems, let us know.

[2017-04-05 20:31] #11 closed

[2017-04-05 20:31] samuelkarp commented on #16
We haven't heard back from you in a while, so I'm closing this issue.  Please let us know if you're still running into difficulties.

[2017-04-05 20:31] #16 closed

[2017-04-12 18:03] joshzarrabi commented on #23
Wait, so do I have it correct that the fix is in, but for it to work as intended, you need to have downloaded the image that's in your `FROM` first?

[2017-04-12 18:10] samuelkarp commented on #23
No, you need to pull or push an image in the same registry (not repository) or use the registry associated with your account.

[2017-04-12 18:23] chendrix commented on #23
@samuelkarp interesting. I guess I'm confused as to the implications of that when using this in an automated fashion.

I'm a developer on Concourse and our [docker-image-resource](https://github.com/concourse/docker-image-resource) has been expanded to have ECR support by using this library.

We have issues that seem to be caused by the changes in Docker 1.13 and above, which were supposed to be f

[2017-04-12 18:42] samuelkarp commented on #23
There's a cache file for the credentials in `~/.ecr/cache.json`.  When Docker 1.13 and above call `list`, we read this cache file to determine all of the known registries.

https://github.com/docker/docker/pull/32273 is looking to remove the requirement for iterating through all registries during a build and just grab credentials for the specific registries referenced by `FROM` lines.  That's ulti

[2017-04-14 22:17] samuelkarp commented on #34
@rvandegrift If you have multiple accounts configured in `~/.aws/credentials` (with credentials) you can do `AWS_PROFILE=myprofile docker pull`.  If you have multiple accounts configured in `~/.aws/config` with a `role_arn` and `source_profile` set up, you can do `AWS_SDK_LOAD_CONFIG=true AWS_PROFILE=myprofile docker pull`.

Please let me know if you have any further questions.

[2017-04-17 15:36] rvandegrift commented on #34
Oh I didn't know about `AWS_SDK_LOAD_CONFIG` - works well, thanks!

[2017-04-17 15:36] #34 closed

[2017-04-17 18:23] H2so4 commented on #15
+1 for binaries for each platform supported

[2017-04-26 15:51] rossmckelvie commented on #29
I have a cache.json file, and receive this same authentication required error on one of my jenkins builds. Our installation date of this helper was Jan 11, 2017 so a little out of date. Other builds worked without issue, and the base image we were trying to pull down hadn't been modified since the last success.

My ecr log file looks clean:
[code]
The logs are identical for other builds that succe

[2017-04-26 17:19] samuelkarp commented on #29
@Brett55 We haven't heard back from you in a while, so I'm going to close this issue.  If you're able to provide us with logs, we can investigate what's happening.

[2017-04-26 17:19] #29 closed

[2017-05-24 09:12] daviddyball opened #36 "Deprecating for email flag. Will this affect amazon-ecr-credential-helper?"
Just got an email from the AWS team warning of incompatibilities with `awscli`'s `ecr get-login` command and the upcoming `docker` 17.06 version that will deprecate the `--email` flag originally part of `docker login`.

Will this have a knock-on affect to this project?

[2017-05-24 16:52] samuelkarp commented on #36
The credential helper should not be affected by this change, but please let us know if you run into any problems.

[2017-05-24 16:52] #36 closed

[2017-05-26 13:12] Spareo opened #37 "Integration with Docker Remote API"
I am having a very hard time being able to access ECR using the docker Remote API. I have setup the credential helper locally and it works just fine  when I use docker commands in the local CLI. However, it doesn't seem to do anything when I make remote API calls.

Is there any information on how we are supposed to access ECR using the docker remote API?

[2017-05-31 16:35] astryia opened #38 "Windows support"
Since we have Docker for Windows, is possible to build this helper on Windows platform?

[2017-05-31 18:54] samuelkarp commented on #37
The Docker Remote API doesn't use the credential helpers; those are only invoked by the Docker CLI.  There's a good example of interacting with the Remote API to push/pull with ECR in the ECS CLI (see [here](https://github.com/aws/amazon-ecs-cli/blob/744a682035833d2415abee4cbd255865bae539ce/ecs-cli/modules/cli/image/image_app.go#L192-L208)).

[2017-05-31 19:01] samuelkarp commented on #38
I haven't tested it extensively, but it worked last time I tried.  If you want to cross-compile from another operating system, you can run `TARGET_GOOS=windows make`.  Are you having issues using the credential helper on Windows?

[2017-05-31 22:23] Spareo commented on #37
So I have come to that same conclusion. I looked over the code you linked and in particular the dockerclient. I see that the interface it implements only does push/pull/tag.

My main goal was to push a .tar.gz archive to S3 and use docker build on an EC2 instance to create an image from the dockerfile and contents of the archive and push it to ECR. I need to do this remotely which is the main issu

[2017-05-31 22:47] samuelkarp commented on #37
@Spareo Have you looked at [AWS CodeBuild](https://aws.amazon.com/codebuild/)?  They have an [example](http://docs.aws.amazon.com/codebuild/latest/userguide/sample-docker.html) of building a Docker image and pushing it to ECR.

[2017-05-31 23:13] Spareo commented on #37
Yes Codebuild was what I wanted to use initially but they don't have windows codebuild images yet which I need to build a windows docker image.

[2017-06-01 08:01] astryia commented on #38
Since I'm not familiar with Go it was difficult for me to build the helper, and described approach with make doesn't work. But after I've built helper directly with
`go build -o bin/docker-credential-ecr-login.exe ecr-login\cmd\main.go`
everything became perfect.

Credential helper works on Windows as expected.

Thank you.

[2017-06-01 08:02] #38 closed

[2017-06-01 16:10] samuelkarp commented on #38
I'm glad you were able to build it and get it running!  If you're interested in helping to make the README more clear for people using Windows, we'd be happy to have the contribution.

[2017-06-02 17:13] Spareo commented on #37
@samuelkarp Can you tell me if I have the ECS, docker optimized windows AMI with the ecs agent running in an EC2 instance, does that still have to do a docker login to push/pull from ECR? Would that help me at all in my situation?

[2017-06-02 17:48] samuelkarp commented on #37
The "Microsoft Windows Server 2016 Base with Containers" AMI does still need to do a `docker login`, use the credential helper, or use the ECS agent to pull from ECR.

You can build images through the Docker Remote API as well.  I've had good experiences using [go-dockerclient](https://godoc.org/github.com/fsouza/go-dockerclient#Client.BuildImage) to interact with the Remote API.

[2017-06-02 18:17] Spareo commented on #37
@samuelkarp  Thanks for the quick response. In regards to your second comment about docker build, are you saying I can use go-dockerclient to build docker images that pull a base image from ECR? Thats where everything is falling apart for me right now.

Even with passing in credentials and the correct headers and everything I always get an error that says "no basic auth credentials" when the image

[2017-06-03 01:15] lox commented on #15
It's pretty annoying that this project is such a pain to consume, especially with Amazon recommending it as the alternative to `aws ecr get-login` in a few places. @samuelkarp what's the thinking behind not offering binaries or following go best practices around making it go-gettable?

[2017-06-09 12:32] miguelgm opened #40 "Problem authenticating with profiles"
I am sorry to open another ticket like this, I saw other tickets like this one already closed.

When trying to use a profile configured in .aws/credentials, docker pull fails. This is the .ecr/log content:

	For verbose messaging see aws.Config.CredentialsChainVerboseErrors
2017-06-09T12:20:54Z [DEBUG] Disabling cache
2017-06-09T12:20:54Z [DEBUG] Retrieving credentials for XXXXXXXXXXX in eu-west-1

[2017-06-12 20:46] samuelkarp commented on #40
Can you let me know exactly what you tried?  Which environment variables you set and how you invoked `docker pull`?  You can redact anything that you need to (profile names, image names, etc), but I'd like to see exactly how you're invoking it.

[2017-06-13 15:06] miguelgm commented on #40
This is the full ouput of what I did

If I change the profile1 to default in the credentials file, it works without any env variable.

[2017-06-16 02:12] bernardoVale commented on #15
Please, cut a release!! It will take two minutes of your time.

[2017-06-22 11:01] burdandrei commented on #9
I know this is closed, but adding the `auth` section stopped to help after the upgrade from 1.12 up.
We received new trusty images in travis-ci, and all our builds failed.
It works now only if we're running `docker pull` before build.

[2017-06-22 17:00] samuelkarp commented on #37
@Spareo Are you specifying `AuthConfigs` in [`BuildImageOptions`](https://godoc.org/github.com/fsouza/go-dockerclient#BuildImageOptions)?

[2017-06-22 22:03] samuelkarp commented on #9
@burdandrei In more-recent versions of Docker, the `auths` section is no longer use for determining which credentials to send to the daemon. The long-term solution here is going to be a smarter Docker CLI that parses the `FROM` line and explicitly requests the appropriate credentials from the credential helper (work has started in https://github.com/moby/moby/pull/32967, but it doesn't look like t

[2017-06-23 13:57] Spareo commented on #37
Yes I tried passing in in the auth information several times using different credentials and it acted as though it was just ignoring it. I was able to use the /auth end point which would return a "Login Succeeded" response but it would never return an Identity token. When I used the same credentials with the build endpoint, it would still fail.

[2017-06-26 06:19] lox commented on #15
It's annoying, but there is a brew that automates some of this at brew install https://raw.githubusercontent.com/winebarrel/homebrew-docker-credential-ecr-login/master/docker-credential-ecr-login.rb

[2017-06-27 02:44] d3v1an7 opened #41 "credHelpers and docker-compose"
Hi there, big fan of #39 as this is much more polite way of handling docker auth :)
Unfortunately, it doesn't seem to work in combination with docker-compose.

**Currently working config**
[code]

**Not working**
[code]

I also tried the following (as we `FROM` the same repo quite a bit) without success.
[code]

**Error**
[code]

[2017-06-27 04:33] danielcompton commented on #41
This is an issue with docker-compose, I hit the same issue: https://github.com/docker/compose/issues/4948. The docs should probably be updated to point this out, as it's not obvious that this won't work for docker-compose.

[2017-06-27 05:02] d3v1an7 commented on #41
Thanks @danielcompton.

FYI, I've been able to get `credsStore` to work fine, with the addition of `auths` (see working example in OP). That was thanks to comments [here](https://github.com/awslabs/amazon-ecr-credential-helper/issues/16#issuecomment-256727200) and [here](https://github.com/awslabs/amazon-ecr-credential-helper/issues/9#issuecomment-241184224).

It's `credHelpers` that I'm bringing

[2017-06-28 11:42] astryia opened #42 "Access images from another AWS account"
I want to pull/push images from another AWS account repository.
As described there https://aws.amazon.com/premiumsupport/knowledge-center/secondary-account-access-ecr/?tag=vig-20, I need to pass registry-ids

`aws ecr get-login –-registry-ids <account_ID_of_repository>`

My question is how to do this with ecr-credential-helper?

[2017-06-28 17:45] samuelkarp commented on #42
@astryia As long as you have the appropriate permissions on the repository you're attempting to access, the credential helper will handle this transparently for you.  Are you having issues using it?

[2017-06-28 21:52] samuelkarp commented on #41
@d3v1an7 Yes, as @danielcompton mentioned this is an issue with docker-compose instead of the credential helper.  I'm going to close this in favor of https://github.com/docker/compose/issues/4948, but let me know if you run into further issues once that one gets fixed.

[2017-06-28 21:52] #41 closed

[2017-06-29 07:55] astryia commented on #42
I thought that it's necessary to pass registry-id in some way. It's great if credential helper handles this transparently.
I'm going to perform test setup, I'll back to you in case of an issue.
Thank you very mach.

[2017-06-29 07:56] #42 closed

[2017-07-05 08:51] lox commented on #15
I got fed up, so I've forked the project and I will offer releases at https://github.com/lox/amazon-ecr-credential-helper/releases/tag/v1.0.0

[2017-07-09 13:40] guyisra commented on #14
Using Docker version 17.05.0-ce, build 89658be I also get no basic auth credentials even though the env vars are defined..

[2017-07-09 13:59] guyisra opened #49 "no basic auth credentials yet AWS CLI has access"
I am using Docker v17 and for some reason when trying to push to ECR I get no basic auth credentials.

This doesn't happen if I manually login with `aws ecr get-login ...`

the policy is configured correctly, I can run other AWS commands.
It gives the same response with either a profile with the proper policy or with the access key and secret explicitly set..

[2017-07-10 01:14] danielcompton commented on #49
I just updated to the current Docker for Mac (17.06-ce I think?) and got the same error:

[code]

[2017-07-10 16:12] guyisra opened #50 "Possible refactor not using /src/github.com path?"
Is it possible to refactor this so it won't need a very explicit and hard-coded path?

[2017-07-10 17:05] samuelkarp commented on #50
Go requires packages to be in this directory structure (named by the import path); see [GOPATH](https://github.com/golang/go/wiki/GOPATH) for more information.

However, we could do something [like this](https://github.com/moby/moby/blob/ea2e4d73c4c753cdc99966e4dfe35143e79564ce/hack/make.sh#L95-L99) where a temporary GOPATH is made and symlinked by the Makefile.  On the other hand, we already have

[2017-07-10 17:15] guyisra commented on #50
thanks, didn't realize that go works that way

[2017-07-10 17:15] #50 closed

[2017-07-10 17:33] samuelkarp commented on #49
@guyisra Can you provide the logs in `~/.ecr/log`?  Also, can you describe what exact commands you're using? (`docker push`, `docker pull`, `docker build`, etc?)

@danielcompton I think you already know this, but docker-compose is different from the normal Docker CLI and may not support all of the same features.  Can you also provide the logs in `~/.ecr/log` to see if docker-composes is even reque

[2017-07-13 11:51] mskutin commented on #49
Hit into this too.

`docker pull` :
[code]
`~/.ecr/log/`
[code]
`docker info`:
[code]

[2017-07-13 19:00] ssolari opened #51 "unknown shorthand flag: 'e' in -e"
Problem
======

This problem seems to have suddenly emerged.

When running ecr-login with a profile:

`aws ecr --profile myprofile get-login`

The return string is:

`docker login -u AWS -p <long_key> -e none https://<account>.dkr.ecr.us-west-2.amazonaws.com`

However, copying and pasting this return string results in the error:

`unknown shorthand flag: 'e' in -e`

Removing the `-e none` from the

[2017-07-13 21:01] danielcompton commented on #51
@ssolari this repo is for the Docker ECR credential helper, not the AWS CLI. If you want to use the `aws` command, then you need to specify `--no-include-email`:

[code]

[2017-07-15 16:54] samuelkarp commented on #51
@ssolari, @danielcompton is correct that this repository is for the Amazon ECR credential helper, which is different from the AWS CLI.  This issue was discussed on https://github.com/aws/aws-cli/issues/1926 and resolved by https://github.com/aws/aws-cli/pull/2619.  You'll want to update your installed copy of the CLI to at least [version 1.11.91](https://github.com/aws/aws-cli/commit/ca919c5b63422

[2017-07-15 16:54] #51 closed

[2017-07-15 17:06] samuelkarp commented on #49
@mskutin Thanks for providing the log; that's very helpful.  Can you let me know what region this was for so I can investigate further?

[2017-07-16 08:12] mskutin commented on #49
@samuelkarp **ap-southeast-1a**, but I've randomly changed x-request-id :)

[2017-07-16 21:38] danielcompton commented on #15
This is also a pain in CI, as I would like to be able to deploy docker images from CI, but there isn't an easy package to download to do this.

[2017-07-17 16:52] samuelkarp commented on #49
@mskutin Can you provide the correct request ID?  I'd like to correlate what the logs you provided show with what I can find out from our side.

[2017-07-18 07:27] punkracy opened #52 "no basic auth credentials gitlab dind"
Hi,
I am trying to use amazon ecr credential helper inside gitlab ci job to build and push image to AWS ECR.
When I am using it manually (my machine, gitlab host machine) it works fine. But inside gitlab job using dind (docker in docker) runner it fails. I tried many scenarios for almost week without success. I am not able to provide ~/.ecr/log but I run push with strace. What is interesting is th

[2017-07-18 15:16] igostavro commented on #49
not sure if this helps, but everything started working for me after i moved docker-credential-ecr-login into /usr/local/bin, its bizarre, i had its path stored in the PATH environment variable.

[2017-07-21 07:35] piu28 commented on #52
I was facing the similar issue with Jenkins. From CLI, I was able to pull without login command but from Jenkins I was getting error "no basic auth credentials".

I added the "docker-credential-ecr-login" executable file in the path /usr/bin/, and its working fine now. I am able to pull and push ECR Repo from Jenkins without Login.

[2017-07-21 07:42] punkracy commented on #52
Thanks, I will try that out.

[2017-08-09 19:26] corymacd commented on #49
Had the same issue. Using @igostavro's workaround of moving the binary to /usr/local/bin was the only way that I was able to push, even though it had been very much in the PATH.

[2017-08-09 19:30] samuelkarp commented on #49
@igostavro @corymacd Your issues look to be unrelated to what @mskutin reported. If the Docker CLI had trouble invoking because of something involving `PATH` you wouldn't see the same errors that @mskutin saw.

I'm closing this issue for now because we haven't heard back from @mskutin and cannot investigate further without that information.

[2017-08-09 19:30] #49 closed

[2017-08-11 09:09] tomelliff opened #56 "Create a Docker image containing the ECR credential helper"
I'm using Gitlab CI and we have previously been using shell executors to build Docker images but have decided to move over to using docker executors and bind-mounting the Docker socket into the CI container.

This is great but it means we now need the CI container to be able to authenticate with ECR and thus either need to run the `eval $(aws ecr get-login --no-include-email)` command and have the

[2017-08-11 17:26] samuelkarp commented on #56
Thanks for reaching out.  I'm going to close this as a duplicate of https://github.com/awslabs/amazon-ecr-credential-helper/issues/15, which is already tracking the request for released binaries.

[2017-08-11 17:26] #56 closed

[2017-08-16 08:44] guikcd commented on #52
The issue is that docker 17.06.0-ce depreciate (See https://docs.docker.com/release-notes/docker-ce/#17060-ce-2017-06-28)  the -e (email) flag and aws ecr get-login generate it by default:

[code]

New awscli option `--no-include-email` disable -e flag generation (https://github.com/aws/aws-cli/blob/develop/CHANGELOG.rst#11191) :

[code]

[2017-08-16 18:13] samuelkarp commented on #52
@punkracy The strace output isn't particularly useful as I can't see whether the credential helper is getting invoked.  The best way to troubleshoot this is going to be to look at the credential helper's logs and see what's going wrong there (or, if nothing is there, you know that it isn't being invoked).

[2017-08-16 18:28] punkracy commented on #52
@samuelkarp sorry for lack of response. Solution by @piu28 worked for me (although I try now to build my dind image with a helper). So we can close issue (sorry for delay).
The problem with gitlab and docker here was in the way that images are prepared for next steps. So coping compiled utility to /usr/bin did the trick (because it is available also in next steps). So setting PATH was not useful h

[2017-08-16 18:28] #52 closed

[2017-08-16 18:33] samuelkarp commented on #52
@punkracy Glad it worked, thanks for confirming!

[2017-08-17 05:39] Jalle19 commented on #15
I ended up building this locally, then `scp` the file over to the target server. At the very least, instructions on how to `go build` the binary without Docker would be appreciated.

[2017-08-17 05:40] lox commented on #15
@Jalle19 my PR was merged recently, so you can just:

[code]

(See https://github.com/awslabs/amazon-ecr-credential-helper#installing)

[2017-08-17 05:43] Jalle19 commented on #15
@lox I did run that but I couldn't find the binary. Maybe it's too early in the morning...

[2017-08-17 07:52] lox commented on #15
It will install it in $GOBIN, check out `go env`. Failing that, clone the repo and run `make build`.

[2017-08-17 07:52] lox commented on #15
One day we will convince @samuelkarp to cut release binaries ;)

[2017-08-17 08:42] Jalle19 commented on #15
Thanks for the tips!

[2017-08-29 18:09] brijshah opened #62 "make docker creates bin directory as root"
after running `make docker`, I get the following error:
[code]

the bin folder that gets created is created as root, adding `--privileged=true` to the docker command inside the make file seems to work, however I dont think thats correct.

[2017-08-30 03:53] bklau commented on #37
@Spareo  Can you do an image pull from ECR using docker Remote API?. Just curious.

[2017-09-01 06:36] dduquesne commented on #37
@bklau No. I spent the last 3 days trying to make it work. There is no way. I give up now and i am going to create my own private registry in my facilities.

[2017-09-09 19:43] Tomdarkness opened #63 "List command relies on a region being specified"
Output of `docker-credential-ecr-login list` gives:

`Could not list credentials: MissingRegion: could not find region configuration:`

Using IAM role to authenticate. Would expect the list command to not require a region as I don't see how you can set this via docker config option.

[2017-09-09 19:52] Tomdarkness commented on #63
Just as some background, we're trying to use the credential helper on our Gitlab CI runners so there is no interactive session to specify the region. You can see how they have implemented it here:

https://gitlab.com/Fodoj/gitlab-ci-multi-runner/blob/d2191e85e4804d2bc952dedd03d772d76439908e/helpers/docker/auth_config.go

Appears to be using the docker SDK to list all credentials that the helpers c

[2017-09-10 03:10] HrmesWorld commented on #63
I also have this problem. some machine is ok, other see "Could not list credentials: MissingRegion: could not find region configuration". The config is the same.

[2017-09-10 03:58] HrmesWorld commented on #63
Hi, I find the way to solve this issue.
1. you finish install the awscli docker-credential-ecr-login.Use awscli configure , will create config  credentials at ~/.aws.
2. use aws ecr get-login --no-include-email --region cn-north-1
    docker login -u AWS -p xxxxxxx https://xxxxxxx.dkr.ecr.cn-north-1.amazonaws.com.cn
   it will create the file  ~/.docker/config.json
3. cat /etc/null > ~/.docker/con

[2017-09-11 00:54] gengmao commented on #63
@Tomdarkness the problem is list command doesn't provide a region info but AWS sdk requires. Without specified region, AWS sdk reads it from either AWS_REGION or ~/.aws/config if AWS_SDK_LOAD_CONFIG is set. Either way requires an env variable. You can set it in the /env/environment on Ubuntu.
Get command parses the region from registry domain so doesn't require env variable. And once creds are cac

[2017-09-11 22:57] Tomdarkness commented on #63
@gengmao Thanks, but it seems that I can't set the environment in which the credential helper is executed. As mentioned above, the credential helper is being executed using the docker SDK via the Gitlab CI runner. I've tried setting the environmental variables in the environment in which the runner itself executes but these don't seem to get inherited by the environment the credential helper is ex

[2017-09-11 23:03] Tomdarkness commented on #63
Or at least provide a way of configuring the region without having to manipulate the environment the helper is executed in.

[2017-09-12 01:03] bklau opened #64 "How to control ecr-login log output"
This is just a question:
I noticed that there are a set of  ECR-login logs located at ~/.erc/log/.
Q: Are these being rotated?. If not it, it will grow graduately and depletes disk space.
Anyway to configure logging? Thx.

[2017-09-12 02:21] samuelkarp commented on #63
@Tomdarkness Apologies for the delayed response here.  As @gengmao explained, the credential helper needs to know what region it should use in order to get credentials for the default registry in that region.  However, if you know the set of registries you'll be authenticating against, you can work around this issue and configure the credential helper to use those registries in the `~/.ecr/cache.j

[2017-09-12 02:24] samuelkarp commented on #64
The log configuration is here: https://github.com/awslabs/amazon-ecr-credential-helper/blob/e63ef99f0995dda1bbbf10b2fdb4f55d458d6d52/ecr-login/config/seelog.go#L46-L57

Rotation is configured, but rotation will only happen while the credential helper is actually running (when a `docker push` or `docker pull` is initiated).

We would be open to a pull request making logging more configurable.

[2017-09-12 02:27] samuelkarp commented on #62
I think we could fix this by just pre-creating the bin folder in the Makefile instead of in the container.  I'd be happy to accept a pull request that fixes this.

[2017-09-12 02:32] samuelkarp commented on #40
There should be a log file in `~/.ecr/log` that may have a bit more information as to what's going on.  Can you check and see if you see any `ERROR`s or `WARN`ings?

(this is a bit of a long shot) Can you also try `AWS_PROFILE=profile1 docker pull XXXXXXXXX.dkr.ecr.eu-west-1.amazonaws.com/nexus:arch-1520-to-2.0-SNAPSHOT` rather than relying on the environment variable being exported?

[2017-09-12 20:43] psyvision commented on #63
@Tomdarkness As I said on [GitLab Runner](https://gitlab.com/gitlab-org/gitlab-runner/issues/1583#note_40010691) - I've got this working.

I don't know if you want to continue working towards getting it working with extra config before modifying this helper?

[2017-09-14 18:37] cmcconnell1 commented on #40
Hello, I've started having issues with the credential helper some time ago.
I'm not sure exactly when as I've been on other projects.
I too tried a fresh build of the cred util and updated in /usr/local/bin to no avail.
In my case, I can't do a docker push which used to work as configured.  But the caveat is that I've updated many utilities, docker awscli, etc.

[code]

Note that If I switch back

[2017-09-14 23:23] yohei1126 commented on #49
Hi, I see the same issue.
I tried to push docker image to ECR then I got this error.

[code]

I am using docker 17.06.2-ce.

[code]

[2017-09-15 02:34] bklau opened #65 "AWS Credential Helper error : NoCredentialProviders with IAM role"
I have an app inside a Docker container that calls AWS Credential Helper. The EC2 instance that hosted the app Docker container  have an IAM role that allows it to pull Docker images. I did not have any other AWS-related credentail files configured inside the app container. But for some reason, when AWS Credential Helper is called internally inside the app container, I got the following error mess

[2017-09-18 17:45] samuelkarp commented on #40
@cmcconnell1

It sounds like the credential helper isn't being invoked.  You mentioned that you put the binary in `/usr/local/bin`; is that on your `PATH`?  Can you invoke `docker-credential-ecr-login` without specifying its full location?

[2017-09-19 00:25] samuelkarp commented on #49
@yohei1126 Please open a new issue and provide the logs in ~/.ecr/log? Also, can you describe what exact commands you're using? (docker push, docker pull, docker build, etc?)

[2017-09-19 06:11] yohei1126 opened #66 "docker push fails using Docker for Mac: no basic auth credentials"
Hi, I tried to push a docker image to ECR using Docker for Mac. Then I got an error "no basic auth credentials".

## docker info

[code]

## what I did

* Created a repository on ECR web console.
* Logged in using `aws ecr get-login --no-include-email --region ap-northeast-1`. It succeeded.
* Tried to push a docker images built locally to the repository but it failed.

## console log

[code]

## F

[2017-09-19 06:11] yohei1126 commented on #49
Opened #66. Thanks.

[2017-09-19 06:12] yohei1126 commented on #66
I did not find ~/.ecr logs.

[2017-09-19 06:17] samuelkarp commented on #66
It sounds like you're not actually using this credential helper, but are instead using the AWS CLI.  You can get help with the AWS CLI on [the AWS CLI GitHub repo](https://github.com/aws/aws-cli) and you can get help with general ECR questions on the [ECS forum](https://forums.aws.amazon.com/forum.jspa?forumID=187).

[2017-09-19 06:17] #66 closed

[2017-09-20 04:02] sabareeshkkanan opened #67 "helper not working on mac"
When i try to push to ecr i get - no basic auth credentials
but when i try the same on ubuntu after setup it works fine

[code]

[2017-09-20 04:14] sabareeshkkanan commented on #67
if i try to login with token now  i get
`error getting credentials - err: fork/exec /usr/local/bin/docker-credential-ecr-login: exec format error, out: ``
`

[2017-09-20 16:12] samuelkarp commented on #67
How did you compile the credential helper?  Are you trying to run a Linux binary on a Mac?

[2017-09-21 01:57] sabareeshkkanan commented on #67
This is it . Now i compiled with `TARGET_GOOS=darwin make docker` and working good. It will be great if we can list options for target_goos in readme file. Thanks a lot

[2017-09-21 01:57] #67 closed

[2017-09-21 02:59] acooley commented on #51
It might have been good to address this a little faster. Currently the latest stable version of docker-ce and the latest 'stable' version of awscli don't work together. I'd blame docker-ce but they have been warning about the depreciation.

[2017-09-21 03:31] samuelkarp commented on #51
Locking this issue; please see my previous comment.

[2017-09-27 07:22] ashwin-nagarajan opened #68 "Marathon unable to pull the docker image from ECR"
marathon is unable to pull the the docker image from ecr to one of the slaves  below is the following error

Failed to launch container: Failed to run 'docker -H unix:///var/run/docker.sock pull XXXXXXXXXXX.dkr.ecr.eu-west-1.amazonaws.com/XXXXXXX:latest': exited with status 1; stderr='unauthorized: authentication required.
i
1. I had custom EMI from centos and installed the ecr helper.
2. aws cli

[2017-09-27 17:18] jhaynes commented on #68
Hi @ashwin-nagarajan. Sorry to hear you're running into some snags. I've got a few ideas about what might be happening.

When you're `docker pull`-ing manually, are you doing it as the same user that marathon is running under? If not, can you try pulling as that user and/or verify that the helper binary is on the marathon user's path?

[2017-09-28 18:00] etsuo opened #69 "MacOS High Sierra: docker-credential-ecr-login > Segmentation fault: 11"
`segmentation fault:11` is being thrown when `docker-credential-ecr-login` is run.

Anyone else getting this with MacOS High Sierra?

[2017-09-28 18:18] etsuo commented on #69
Turns out I just had to recompile the executable. That should have been obvious to me from the beginning.

[2017-09-28 18:18] #69 closed

[2017-09-28 19:39] unicron opened #70 "Unable to use on Mac OS High Sierra, produces "Segmentation fault: 11""
Upgraded to Mac OS High Sierra, and now unable to run this binary.  Was working fine before the upgrade, but now seems broken.  Have tried recompiling and same result.  Any ideas?

Log in via docker login works fine.

[2017-09-28 20:23] samuelkarp commented on #70
Looks like this is a duplicate of https://github.com/awslabs/amazon-ecr-credential-helper/issues/69.  Can you try rebuilding the binary as was recommended in that issue?

[2017-09-28 21:36] unicron commented on #70
I did try that using the Docker image, with same result.  I’ll check again.

[2017-09-28 21:37] samuelkarp commented on #70
@unicron If you have the Go toolchain installed on your Mac, can you try that too?  I think this might be related to https://github.com/golang/go/issues/22059.

[2017-09-28 22:30] unicron commented on #70
I could try that, but I'm unsure how to do that... I have go installed via brew, but not sure where or what to run in order to compile from source.  Looked at the Docker and Make files haven't made sense of it yet.

[2017-10-01 02:41] sabareeshkkanan opened #71 "Docker for aws"
Lets say i deployed my swarm using https://docs.docker.com/docker-for-aws/
and manually setup the auth on the machines. Now if i update the cloud formation property to increase number of nodes does it automatically configure setup the credential helper or do i have to set this manually ?

[2017-10-02 02:50] samuelkarp commented on #71
For help with Docker for AWS, you should reach out to the Docker project on https://github.com/docker/for-aws.

I don't know if Docker for AWS supports using credential helpers, but https://github.com/moby/moby/issues/30982 and https://github.com/moby/moby/issues/31063 imply that it does not.

If you manually set something up on an instance and then scale your autoscaling group without encoding th

[2017-10-02 02:50] #71 closed

[2017-10-02 18:01] samuelkarp commented on #70
@unicron Check out the source code into your `GOPATH` under the directory `github.com/awslabs/amazon-ecr-credential-helper` (so if your `GOPATH` is `~/go`, you'd check it out to `~/go/src/github.com/awslabs/amazon-ecr-credential-helper`) and then run `make` from that directory.  You should end up with a binary in `bin/local` that you can then try.

[2017-10-02 18:43] unicron commented on #70
Ah, working now!  Thank you.

[2017-10-02 19:01] #70 closed

[2017-10-03 14:23] singingwolfboy commented on #15
I tried to write a Homebrew formula for this, and was told that [it won't be accepted unless there is an actual release](https://github.com/Homebrew/homebrew-core/pull/18914).

[2017-10-03 22:32] lox opened #74 "Version numbers and releases"
I've been maintaining a fork at https://github.com/lox/amazon-ecr-credential-helper and publishing releases. Lots of people are using them, and it's causing confusion. My hope was that it would prompt some action around issue #15, which has now been open for a year.

If the issue is one of time and resources, perhaps I could be added as a maintainer and could lead an effort to put out a release an

[2017-10-06 16:44] sbutt opened #75 "build on Windows creates an ELF 64 LSB executable - is this correct?"
Hi, I've ran "make docker" on a Windows 10 machine, which has docker installed and it's produced a file docker-credential-ecr-login however this file is not able to execute on Windows. Am I barking up the wrong tree here? I want to be able to use ecr cred helper on Windows but I'm not sure what to do with the binary that's been created. I tried renaming it and adding .EXE on the end, but that refu

[2017-10-06 17:09] samuelkarp commented on #75
`make docker` will default to producing a Linux executable, since it runs in a Linux container.  You can cross-compile and produce a Windows executable by running `make TARGET_GOOS=windows docker` and then renaming the resulting executable and adding `.exe`.

[2017-10-06 18:57] anthoneous opened #76 "no basic auth credentials when using docker-compose build"
Hello, it appears that the ecr-credential-helper not being used by docker-compose:

[code]

[2017-10-06 20:01] samuelkarp commented on #76
@anthoneous If Docker Compose isn't invoking the credential helper, it would be better to open an issue against the [Docker Compose GitHub](https://github.com/docker/compose).

[2017-10-06 20:26] anthoneous commented on #76
Sure, thanks.

[2017-10-07 21:10] lobsterdore commented on #15
You would be doing the community a huuuuuge favour by making this happen!

[2017-10-09 08:16] sbutt commented on #75
Many thanks, that worked.

[2017-10-09 08:16] #75 closed

[2017-10-09 18:18] etsuo opened #77 "Support for Multiple AWS Profiles"
Currently, as far as I can tell, `docker-credential-ecr-login` only allows you to use the `default` aws credentials profile. It would be VERY helpful to allow multiple profiles for scenarios where a single CI/CD server is responsible for pushing images to different regions depending on whether it's a production build or a develop build (etc.). This also helps for those of us who support multiple c

[2017-10-09 18:21] samuelkarp commented on #77
It works for me when I do `AWS_PROFILE=myprofile docker push`.  Are you having problems with that?

[2017-10-09 18:23] etsuo commented on #77
@samuelkarp sorry, it hadn't occurred to me to do that, though it should have. I'm sure that'll work for me. Thanks for the quick reply!!

[2017-10-09 20:41] etsuo commented on #77
Actually, this does not seem to be working... I'm getting: `no basic auth credentials` when I run: `AWS_PROFILE={redacted} docker push {redacted}.dkr.ecr.{redacted}.amazonaws.com/{redacted}:latest`

Any thoughts as to why that might be? I have a profile setup, and I can use it with the `aws` cli...

[2017-10-09 20:47] etsuo commented on #77
ps. As a sanity check, I ran `AWS_PROFILE=myprofile aws iam getuser` while logged in as the user, and it worked. I also dropped a trace in my CI script that outputs `whoami` and it's the right linux user for the `aws` and `docker` setup... and it's all working with the default aws credentials.

[2017-10-09 21:17] etsuo commented on #77
ok, found the problem. It was a security issue. Turns out `docker-credential-ecr-login` requires the AWS user to have `ecr:GetAuthorizationToken` on resource `*`. I vaguely remember running into this when I setup my last ECR / docker config. After adding the appropriate policy, `docker push` with `AWS_PROFILE=myprofile` worked fine.

If anyone else runs into this in the future, check your ~/.ecr/l

[2017-10-09 21:17] #77 closed

[2017-10-10 00:32] anthoneous commented on #76
It appears that docker-compose only fails when using the credential-helper.

If we remove the ~/.docker/config.json it works with the following command:
[code]
[code]

[2017-10-10 05:03] samuelkarp commented on #76
@anthoneous Do you know of Docker Compose is successfully invoking the credential helper?  If so, you should see logs in `~/.ecr/log`.  If not, you'll need to figure out why Docker Compose is not invoking the credential helper.

[2017-10-10 18:34] anthoneous commented on #76
It seems to be. The error is interesting because it works with docker but not docker-compose.
The error in the log is:
[code]
This is the server URL:
[code]

[2017-10-10 19:03] samuelkarp commented on #76
That serverURL looks like it would parse properly to me.  I've opened https://github.com/awslabs/amazon-ecr-credential-helper/pull/78 to add some explicit test cases around this and to add a bit more info to the error message (so we can see exactly what serverURL is being passed by Docker Compose).  Would you be able to test that change and see what Docker Compose is actually passing?

[2017-10-10 19:57] shadycuz opened #79 "Binary missing after make docker on CIS Amazon Linux"
[code]

[code]

[2017-10-10 20:31] anthoneous commented on #76
Yes, I'm available to test.

[2017-10-10 20:37] shadycuz commented on #79
I found it in the repo? Is this normal?
[code]

[2017-10-10 20:44] samuelkarp commented on #79
Yes, it builds into `./bin/local`, not `/bin/local`.

[2017-10-10 20:50] #79 closed

[2017-10-10 20:51] shadycuz commented on #79
@samuelkarp Documentatiom from the above aws link is bad.

[2017-10-10 20:53] samuelkarp commented on #79
@shadycuz Can you link to where you see that?  I don't see a link in your previous correspondence.

[2017-10-10 20:58] shadycuz commented on #79
@samuelkarp my bad =)

https://aws.amazon.com/blogs/compute/authenticating-amazon-ecr-repositories-for-docker-cli-with-credential-helper/

[2017-10-10 20:58] samuelkarp commented on #79
@shadycuz Thanks!  I can follow up with the right person to get that fixed.

[2017-10-10 22:33] samuelkarp commented on #79
@shadycuz That blog post should be fixed now.

[2017-10-11 22:07] samuelkarp opened #80 "Tagged releases and binary artifacts"
Hey all,

There have been a [few](https://github.com/awslabs/amazon-ecr-credential-helper/issues/15) [different](https://github.com/awslabs/amazon-ecr-credential-helper/issues/33) [issues](https://github.com/awslabs/amazon-ecr-credential-helper/issues/74) asking questions about publishing tagged releases and binaries.  I wanted to provide a list of what things need to occur before those can happen

[2017-10-11 22:08] samuelkarp commented on #15
Closing in favor of https://github.com/awslabs/amazon-ecr-credential-helper/issues/80, which is tracking the work necessary for this to happen.

[2017-10-11 22:08] #15 closed

[2017-10-11 22:08] samuelkarp commented on #33
Closing in favor of https://github.com/awslabs/amazon-ecr-credential-helper/issues/80, which is tracking the work necessary for this to happen.

[2017-10-11 22:08] #33 closed

[2017-10-11 22:08] samuelkarp commented on #74
Closing in favor of https://github.com/awslabs/amazon-ecr-credential-helper/issues/80, which is tracking the work necessary for this to happen.

[2017-10-11 22:08] #74 closed

[2017-10-11 22:21] lox commented on #80
I'm happy to implement the `--version` and user-agent stuff.  Seems like semver is a no-brainer and given the infrequency of change perhaps an ad-hoc release process would be a good way to start?

Something like https://github.com/goreleaser/goreleaser would have releases done and dusted in under 60 minutes. Perhaps a build system and a verification system could be an incremental step? For a proje

[2017-10-16 15:27] miguelgm commented on #40
Finally worked:
[code]

There has been a lot of changes in my setup since I opened the ticket so, I don't really know what are the differences between now and then :(

This is my current config:
[code]
Still, would be nice to have a way to configure specific AWS profile in the .docker/config.json the same way you can do with specific registries.

[2017-10-16 16:28] samuelkarp commented on #40
@miguelgm Thanks for the update.  I'm glad it's working, but I also don't understand why it wasn't working before and is working now.  I'm going to close this issue; if anyone else has problems please open a new issue.

That sounds like a neat idea.  I'm not sure how that would be possible today; `~/.docker/config.json` really only provides the single `credsStore` field for configuration and doesn

[2017-10-16 16:28] #40 closed

[2017-10-17 13:47] singingwolfboy commented on #80
@samuelkarp Thank you very much for organizing this work. Is there a timeframe for when it might be done? It sounds like there are a few very motivated contributors who want to help, but we're all blocked on you and the ECS/R team.

[2017-10-18 21:48] goffinf opened #81 "Windows 2016"
I have been successfully using this helper on Linux (RHEL) for quite a while.

We have just started to configure AWS EC2 instances running Windows 2016 (configured for docker) and these also need to be able to pull and push images to/from ECR.

The Amazon docs for this helper here: https://aws.amazon.com/blogs/compute/authenticating-amazon-ecr-repositories-for-docker-cli-with-credential-helper/ st

[2017-10-19 13:19] colin-mcdonald commented on #36
This is causing issues for me...basically `aws ecr get-login` returns a docker-login command that has `-e none` flag set (which is the shorthand for --email).  Because of this I manually have to delete the `-e none` each time to run it.

I also see a new warning when I execute the command returned from `aws ecr get-login` which does not prevent execution:
WARNING! Using --password via the CLI is i

[2017-10-19 17:10] samuelkarp commented on #36
@colin-mcdonald Please file issues with the AWS CLI against the [AWS CLI GitHub repo](https://github.com/aws/aws-cli/).

[2017-10-19 18:40] rpnguyen commented on #36
@colin-mcdonald You'll need to call `aws ecr get-login --no-include-email`. See this [forum post](https://forums.aws.amazon.com/ann.jspa?annID=4656) for more context

[2017-10-24 11:47] tripleee commented on #49
If the Docker daemon started before you updated your `PATH` then it does not have access to the [AWS ECR Docker helper](https://github.com/awslabs/amazon-ecr-credential-helper). Try quitting and restarting Docker with the `PATH` set to include the directory which contains the helper binary.

(To update your system-wide `PATH` without rebooting on MacOS, run `launchctl setenv PATH "$PATH"` in a pla

[2017-10-24 11:51] singingwolfboy commented on #80
@samuelkarp Still hoping for an answer on this.

[2017-10-30 09:01] singingwolfboy commented on #80
@samuelkarp ping

[2017-10-31 00:54] rpnguyen commented on #80
Hi all,

Richard from ECR here. Discussing with the team, we've decided to adopt SemVer as proposed by @lox. The first tagged release will be versioned 1.0.0.
@singingwolfboy We welcome contributions for some of these tasks. For those tasks that need to be done by the ECS/R team, we're not able to comment on specific timeframes but our team is tracking this project as part of our roadmap.

Thanks,

[2017-11-06 22:37] samuelkarp commented on #81
You'd put it in the `~/.docker/config.json` of the user under which automation is running.

[2017-11-08 17:35] bklau commented on #64
@samuelkarp  Is there anyway to configure logging only errors in the log?. The reason is calls to the credential helper is getting slower as the logs gets longer i noticed.
I prefer not to modify the amazon-ecr-credential-helper/ecr-login/config/seelog.go due to Licensing directive from our Legal. May some non-golang Json or  config file?

[2017-11-14 16:55] gcko opened #82 "Support for Named Profiles"
It doesn't seem like the credential helper supports [named profiles](http://docs.aws.amazon.com/cli/latest/userguide/cli-multiple-profiles.html). Is support for named profiles on the roadmap?

[2017-11-14 16:57] gcko commented on #82
looks like this issue was already brought up in #77, closing

[2017-11-14 16:57] #82 closed

[2017-11-21 02:56] fengyanliang commented on #70
. ./scripts/shared_env && ./scripts/build_binary.sh ./bin/local
./scripts/build_binary.sh: line 36: 92476 Segmentation fault: 11  GOOS=$TARGET_GOOS GOARCH=$TARGET_GOARCH CGO_ENABLED=0 go build -installsuffix cgo -a -ldflags '-s' -o $1/docker-credential-ecr-login ./ecr-login/cli/docker-credential-ecr-login
make: *** [bin/local/docker-credential-ecr-login] Error 139

[2017-12-01 11:53] dnk8n opened #83 "I am able to run an image from ***.amazonaws.com/image:latest but unable to run an almost identical image ***.amazonaws.com/image:<custom_tag>"
Hi,

Unsure if this is the correct place for this issue. Please advise.

From ECS I get error: `STOPPED (CannotStartContainerError: API error (500): driver)` when using ecs-cli compose. The configuration is:

[code]

From the relevant container instances, when I run `docker run --net=ec2user_default -it ***.amazonaws.com/logspout:latest`, everything works fine.

But `docker run --net=ec2user_defau

[2017-12-01 13:12] dnk8n commented on #83
I just destroyed the whole cluster and spun it back up. Retried, now no problem. Odd.

[2017-12-01 13:13] dnk8n commented on #83
Actually, sorry I forgot. I attached this policy to the IAM associated with the container instances.

[code]

[2017-12-02 18:44] loivis opened #84 "failed to make it work with assume role"
I've read through related issues and it seems like to work well with assume role. However I just didn't manage to get it work. I would like to post my configuration for someone to help me out.

### Goal:
I have one iam user in `master` account, with permission to assume role in another `sub` account. The role in `sub` account has managed `AdministratorAccess` policy to all resources in that accoun

[2017-12-10 19:38] aPoCoMiLogin commented on #52
@piu28 just saved my life.

[2017-12-19 11:55] zkanda opened #85 "how to integrate with kuberenetes?"
I know there's https://kubernetes.io/docs/concepts/containers/images/#using-aws-ec2-container-registry but it doesn't help if the ECR is on a completely different account. Just any hints on how to do it would appreciated.

[2017-12-19 16:17] blau-tibco commented on #85
Your K8s AWS account probably need  be a member of "federated" accounts. That way, one or more ECR accounts in the federation can be chosen as ECR owners and grant pull/pushed access to the images that they hosted.

[2017-12-20 12:05] singingwolfboy commented on #80
Any update on any of this work? Unfortunately, I don't have the technical knowledge to help out with this, I just want to be able to install this project from Homebrew.

[2017-12-24 11:26] eyalhei opened #86 "Problem installing package"
I have a problem installing this on my ubuntu hosted machine:
OS: ubuntu 14.04 (ec2 hosted), docker-ce installed

Steps:
[code]

Any idea what am I doing wrong?

[2017-12-25 21:03] nissane opened #87 "Docker Credentials Profile"
Is there a way to specify a profile to use and authenticate with?  I have several profiles specified in my ~/aws/config/credentials

like
[profile1]
aws_access_key_id = <id>
aws_secret_access_key = <key>

[profile2]
aws_access_key_id = <id>
aws_secret_access_key = <key>

[2017-12-25 21:05] nissane commented on #87
actually I see this issue already exists.  closing

[2017-12-25 21:05] #87 closed

[2017-12-28 22:07] blankenshipz opened #88 "Issuing retriving token"
I've been using `ecr-credential-helper` with no probems until today. I found errors in my log stating that pull access was being denied to ECR.

The `ecr-crednetial-helper` logs are constantly updating repeating these lines:

[code]

Any thoughts as to what might have caused this? Pulls earlier in the afternoon seemed to work fine, the only change to ECR that I made was deleting some old tags.

[2017-12-28 22:13] samuelkarp commented on #88
What errors are you seeing?  Have you checked the IAM policies applied to your user or role?  Have you checked the repository policy applied to your repository?

[2017-12-28 22:46] samuelkarp commented on #86
@eyalhei I'm not sure what version of the Go language gccgo supports, but the credential helper requires at least Go 1.7.

If you have Docker installed, the easiest way to build the credential helper is just to run `make docker`, which will build the helper inside a Docker container using Go 1.9.

[2017-12-28 22:49] samuelkarp commented on #83
@dnk8n It sounds like your issue is resolved, so I'll go ahead and close this.

For future reference, you can open issues against the [ECS agent GitHub](https://github.com/aws/amazon-ecs-agent) for issues with ECS.  This GitHub repository is for the ECR credential helper, which is not used as part of the ECS agent and is unrelated to the error you saw.

[2017-12-28 22:49] #83 closed

[2017-12-28 22:59] blankenshipz commented on #88
The initial errors I saw were in nomad logs, stating that pull access had been denied for the repository. The IAM policy associated with the role looks okay to me (and hasn't changed)

[code]

This is the policy on the repository (also unchanged):

[code]

I'm rebuilding the clients in my cluster currently to see if a reset fixes everything.

[2017-12-28 23:12] samuelkarp commented on #88
Is the repository intended to be public?  Granting to `"Principal": "*"` means any AWS account would have access to the images in that repository.

[2017-12-28 23:17] blankenshipz commented on #88
Oops! Definitely not meant to be public. Thanks for the catch! It seems like that should be updated with something like this:

[code]

I'm still baffled about why I can't seem to pull the images now when I could earlier; recreating the cluster didn't help. I also destroyed and recreated the repository.

Here's the specific error from the nomad logs:

[code]

The `ecr-credentail-helper` log:

[code

[2017-12-28 23:24] samuelkarp commented on #88
The default repository policy will allow access to your account, so you should be able to remove the one granting public access.

I'm not familiar with Nomad, but do you have access to the Docker daemon logs?  You may see more of a relevant error message in there.

The lines in the credential helper log seem to indicate that it's able to return an auth token successfully, so either something is co

[2017-12-28 23:28] blankenshipz commented on #88
Doing a `docker pull` manually responds with:

[code]

[2017-12-28 23:33] samuelkarp commented on #88
Have you configured the credential helper in `~/.docker/config.json`?  For reference, mine looks like this:

[code]

Can you also share a (redacted) version of what you're executing?  For example: `docker pull 123456789012.dkr.us-west-2.amazonaws.com/test:latest`.

[2017-12-28 23:38] blankenshipz commented on #88
Here's the command I'm executing:

[code]

The `config.json`:

[code]

[2017-12-29 00:02] blankenshipz commented on #88
I just found a more specific error in syslog

[code]

double checking the iam policy associated with the instance:

[code]

It still looks okay to me?

[2017-12-29 00:25] samuelkarp commented on #88
Is that the full set of policies associated with the instance? There can be multiple policies associated with a single IAM role or IAM user and the computed authorization is the union of those policies.

[2017-12-29 00:35] blankenshipz commented on #88
There are two associated with those instances, here is the other:

[code]

[2017-12-29 00:46] blankenshipz commented on #88
@samuelkarp Is it significant at all that the `ecr-credentail-helper` log is getting updated multiple times per second? The `cache.json` seems to get updated as well - with a token. I don't know  why the token would be constantly checked/refreshed.

[2017-12-29 14:40] blankenshipz commented on #88
nomad retries were cluttering the log... after disabling that feature a manual attempt to pull causes these entries in syslog:

[code]

[2017-12-29 15:40] blankenshipz commented on #88
I'm still working through the solution here but it seems the problem isn't related to `ecr-credentail-helper`.

I found an error that said the `docker-credentail-ecr-login` executable was not found on $PATH - it seems that my version was renamed to `docker-credential-ecr`.

The way these helper scripts are accessed by the daemon is by pre-pending the provided name with `docker-credentail-`; I had

[2017-12-29 15:40] #88 closed

[2018-01-01 10:24] eyalhei commented on #86
Hi @samuelkarp, thanks for the answer.
I actually found another solution for the overall question, that doesn't require me to use this, so I no longer have the environment for testing.

Thanks

[2018-01-01 10:24] #86 closed

[2018-01-07 17:46] nvivo opened #90 "Add information to restart docker after setup"
Please add information that we should restart the docker service for the credential helper to be used.

This is not clear in the documentation.

[2018-01-07 19:40] nvivo opened #91 "Helper not working with "service create" on swarm"
I setup the helper in a server, and it works fine when I call docker pull manually with a regular user. I set the config also on /root/.aws and /root/.docker so the root user has the same config as the regular user.

But when I run `docker service create` in a root node, it fails with `no basic auth` on the worker node.

How do I set this up so it works with all users?

[2018-01-12 18:52] bmurphy1976 commented on #84
Similar issue here.  We have a build server that uses assume role to deploy to multiple AWS accounts.  We cannot use this tool because it doesn't support assume role and are forced to use aws ecr get-login.  Unfortunately we've found docker login to be filled with race conditions under high contention.

[2018-01-16 17:16] dulimitta opened #92 "Unknown options: --no-include-email"
aws --version shows as below.
aws-cli/1.14.25 Python/2.7.12 Linux/4.4.0-1048-aws botocore/1.8.29

I guess I am on latest aws-cli. But still I am getting "Unknown options: --no-include-email" error when I login into ECS from Jenkins. Surprisingly the error doesn't show up when I try ECS login manually.

[2018-01-16 18:22] samuelkarp commented on #92
@dulimitta The best place to ask questions about the AWS CLI is [the AWS CLI GitHub repository](https://github.com/aws/aws-cli/).  This repository is not related to to the AWS CLI or the error you're seeing.

[2018-01-16 18:22] #92 closed

[2018-01-16 19:15] dulimitta commented on #92
Sure @samuelkarp Thank you.

[2018-01-26 13:57] #91 closed

[2018-01-31 03:55] andriyfedorov commented on #84
+1

[2018-01-31 21:23] ojundt opened #94 "Support for providing registry region and id from different source"
Hi there,

We are using ECR in combination with a proxy with a custom domain (e.g. `registry.foobar.com`). We use the custom domain to make migration from and to ECR easier.

However, the custom domain currently prevents us from using the ECR credential helper. It requires the ECR domain format for extracting the registry id and region:
https://github.com/awslabs/amazon-ecr-credential-helper/blob/

[2018-02-01 03:29] samuelkarp commented on #90
Docker does not need to be restarted to use the credential helper.

[2018-02-01 03:29] #90 closed

[2018-02-01 03:31] samuelkarp commented on #85
I don't know if Kubernetes can use a Docker credential helper.  I think this question would be better directed to the Kubernetes project since they've built their own integration with ECR.

[2018-02-01 03:31] #85 closed

[2018-02-01 07:56] samuelkarp commented on #84
Apologies for the delayed reply.  I was able to reproduce this, but I'm pretty sure it used to work.  I have a code change that fixes it by always enabling the shared config file, but I'd like to understand what caused it to stop respecting the `AWS_SDK_LOAD_CONFIG` environment variable.

[2018-02-01 09:17] loivis commented on #84
@samuelkarp Thanks for your time looking into the issue. I'm a bit relieved that I'm not missing something or doing something wrong.

[2018-02-01 16:47] Ruenzuo opened #96 "ecr-login doesn't work sharing the Docker daemon between containers"
This is more a question than an issue with `ecr-login`. I got `ecr-login` working perfectly fine in the Docker host, but sharing the Docker daemon between containers with `-v /var/run/docker.sock:/var/run/docker.sock ...` breaks authentication.
Any advice on how to make this work? I tried mounting the configuration file but I'm unsure which one is used, at least I didn't see any new `[DEBUG]` log

[2018-02-01 17:10] Ruenzuo commented on #96
Answering my own issue 😓, for reference to anyone stumbling upon this: the Docker container needs to include the `ecr-login` binary in `$PATH`, no need to mount the configuration file from the host.

[2018-02-01 17:10] #96 closed

[2018-02-01 23:01] nvivo commented on #90
That's strange, the helper didn't work with me until I restarted the deamon.

[2018-02-02 06:09] samuelkarp commented on #84
`git bisect` picked 87c087b8ac42476b7825f99742c60fcd469d3895 as the first bad commit, which is of course a commit when I updated the SDK.

I think this means we need to add a bit of automated testing around assuming roles so we don't accidentally break it again.

[2018-02-07 01:52] #84 closed

[2018-02-07 01:53] samuelkarp commented on #84
@loivis @bmurphy1976 @andriyfedorov I've pushed a commit that should fix this bug.  Please let me know if you still run into problems.

[2018-02-08 11:28] TDeprez opened #99 "Provide support for proxies"
This helper fails when ran behind a proxy. Could you provide an option to configure a proxy please?

Logs from ~/.ecr/log/
2018-02-08T11:22:51Z [DEBUG] Retrieving credentials for 8xxxx5 in eu-west-1 (8xxxx5.dkr.ecr.eu-west-1.amazonaws.com)
2018-02-08T11:22:51Z [DEBUG] Checking file cache for 8xxxx5
2018-02-08T11:22:51Z [DEBUG] Calling ECR.GetAuthorizationToken for 8xxxx5
2018-02-08T11:22:51Z [ERRO

[2018-02-13 15:22] loivis commented on #84
It works perfectly for me now:+1:

[2018-02-27 18:29] joshk0 commented on #63
I don't really understand the logic from @samuelkarp here. To me, the critical step is step 4 from @HrmesWorld (i actually don't need to run `aws ecr get-login` as it says in his post):

My experience of this bug is I can't build a Dockerfile which uses `FROM xxxxxxx.dkr.ecr.cn-north-1.amazonaws.com.cn/xxxxxx` without first running `docker pull xxxxxxx.dkr.ecr.cn-north-1.amazonaws.com.cn/xxxxxx` o

[2018-03-02 19:47] digitalfiz commented on #81
@goffinf Looks like its in `C:/Users/Username/.docker/machine/default/config.json` from a quick google search leading to the SO: https://stackoverflow.com/questions/37112422/docker-config-file-location-on-windows-to-e-g-enable-insecure-registry-dock

[2018-03-02 19:49] digitalfiz commented on #65
Last bulletpoint on the readme where it talks about credentials:

`If you are working with an assumed role please set the environment variable: AWS_SDK_LOAD_CONFIG=true also.`

[2018-03-03 09:43] abicky commented on #76
https://github.com/awslabs/amazon-ecr-credential-helper/pull/100 might resolve this issue. Could you try it?

[2018-03-03 12:42] abicky commented on #76
I've found that this issue is reproducible by `docker build` without docker-compose.

## My environment

[code]

## Steps to reproduce

1. Put `~/.docker/config` like below:

[code]

2. Set environment variables, remove the cache and so on

[code]

The IAM of the AWS user is like below:

[code]

3. Prepare `Dockerfile` like below:

[code]

3. Make sure that you can't pull the image

[code]

4. Cha

[2018-03-16 09:10] singingwolfboy commented on #80
@rpnguyen Can you please provide an update on this? This GitHub issue has been open for almost 6 months, and this problem has been present for even longer.

[2018-03-21 14:08] wingyplus commented on #62
This problem is still exists for you? @brijshah

[2018-03-26 00:35] estahn commented on #80
@samuelkarp @rpnguyen What's the status here? Use CircleCI/Travis and goreleaser. Seems like a no-brainer.

[2018-03-26 11:58] estahn commented on #80
@singingwolfboy ```brew install hipages/tap/amazon-ecr-credential-helper```

* https://github.com/hipages/homebrew-tap/blob/master/Formula/amazon-ecr-credential-helper.rb
* https://github.com/estahn/amazon-ecr-credential-helper/blob/master/.goreleaser.yml

[2018-03-30 14:31] kennyk65 opened #101 "Instructions"
The instruction to run "go get" doesn't work without some prerequisites, would be nice to know what those are.  There is something called GOPATH that has to be set.

The instruction for "make docker" doesn't seem to do anything, so there are apparently some prerequisites there.

Would be nice to have something installable by a package manager of some kind so the user doesn't have to fumble with go

[2018-04-16 06:16] shumkov opened #102 "error storing credentials - err: exit status 1, out: `not implemented`"
Hi there,

I got the strange error:

[code]

Credentials exported as env vars:
[code]

[2018-04-16 10:30] shumkov commented on #102
Ops... Sorry, I should not use `eval $(aws ecr get-login --no-include-email)` anymore.

[2018-04-16 10:30] #102 closed

[2018-04-18 23:49] JonCubed opened #103 "make docker failing"
I'm trying to build a window version using `make docker TARGET_GOOS=windows` as specficied [here](https://aws.amazon.com/blogs/compute/authenticating-amazon-ecr-repositories-for-docker-cli-with-credential-helper/) but it is failing with below

[code]

not sure where I am going wrong, any help would be appreciated

[2018-04-24 10:11] mims92 commented on #63
@joshk0 Did you solve your issue? I've the same problem (using GitLab CI).

I run GitLab CI script which uses Docker. Inside the docker container, I'm trying to build an image but it fails at FROM xxx.dkr.ecr.eu-central-1.amazonaws.com.

[2018-04-24 22:35] ghost opened #104 "ECR in gitlab-ci"
I am trying to implement ecr in gitlab+runner+autoscaling which uses a docker+machine, I was wondering if anyone was able to implement it.
My  main aim , is to pull ecr image directly without using docker:latest image.

However if i use the ecr image i am getting an error ERROR: Preparation failed: Error response from daemon: Get https://xxxxxxxxx.dkr.ecr.us-east-1.amazonaws.com/v2/dev/sbt/manifes

[2018-04-30 05:07] lox commented on #80
Nice one @srizzling, I wouldn't hold your breath though!

[2018-04-30 06:10] srizzling commented on #80
What do you mean don't hold your breath? Isn't it going to be looked at?

[2018-04-30 06:16] lox commented on #80
Well, the bug has been open since 25 Oct 2016 (#15). The list of todo's in this issue is essentially the open-source way of saying "we aren't going to do this and don't really care about your use-case, but since you've complained so much we will make a long list of things that we are pretty sure are impossible to accomplish so that it looks like we are listening". I gave up a while back!

[2018-04-30 06:31] estahn commented on #80
@lox got a point.
@samuelkarp Any movement on this?

[2018-04-30 19:56] jtoberon commented on #80
@srizzling Thanks for picking this up! We are reviewing your pull request.

The purpose of separating tagged releases from publishing binaries is to unblock things like homebrew. Homebrew ought to start accepting recipes once the tagged releases work is done.

Recently, we made some changes to how we publish other related binaries. For example, see https://github.com/aws/amazon-ecs-cli/commit/4597

[2018-05-01 04:43] samuelkarp commented on #80
@estahn

The upstream Homebrew project maintains a set of default formulas.  They'll need tagged releases before they can accept a formula for this project; see https://github.com/Homebrew/homebrew-core/pull/18914#issuecomment-334913309.

We'll be reviewing @srizzling's pull request, which looks like it will help us get closer to being able to tag releases.

[2018-05-01 06:33] estahn commented on #80
@samuelkarp Thanks, I see what you are referring to. I would have assumed you guys do your own homebrew tap repo.

[2018-05-01 18:25] jtoberon commented on #80
@lox or @estahn, if you have any additional comments about @srizzling's pull request, feel free to chime in over at https://github.com/awslabs/amazon-ecr-credential-helper/pull/105.

Once this is done, and we create a tagged release, then we're happy to support pushing a recipe to the Homebrew project. It looks like there are several candidates out there, including one from @estahn and one from @s

[2018-05-01 20:29] flyinbutrs opened #107 "go get failing in debian jessie docker container"
Hi,

I'm trying to pull this in from within my Dockerfile, and I get the following error trying to "go get":

[code]

Any ideas?

[2018-05-01 20:30] flyinbutrs commented on #107
Actually, I suspect this is because the version of go installed is too old. Investigating...

[2018-05-01 20:34] flyinbutrs commented on #107
Confirmed, installed go from tarball instead of apt-get and it works fine.

[2018-05-01 20:34] #107 closed

[2018-05-02 06:18] apremalal commented on #102
@shumkov what did you use to solve this issue?

[2018-05-02 07:25] bondxf commented on #102
@shumkov I also experienced the same issue. Could you share what you did to solve the issue?

[2018-05-02 15:11] shumkov commented on #102
@apremalal @bondxf
1. Configure docker daemon:
[code]
2. Export your AWS credentials to env:
[code]

Then you can pull/push your image without `docker login`.

[2018-05-04 18:35] mhoglan opened #108 "make windows-amd64 broken with wrong path"
The `make windows-amd64` and thus `make all-variants` is broken on `master`;  Has a bad path reference when it tries to perform a `mv` on the file.

[code]

[2018-05-04 19:45] #108 closed

[2018-05-05 03:41] jtoberon commented on #80
#105 was merged. @samuelkarp @rpnguyen @deyangyin are you OK with tagging head with 1.0.0? Let's create the tag so that the homebrew formula can be created.

[2018-05-08 03:42] grezar commented on #99
@TDeprez I also have the same problem. Do you solve this problem?

[2018-05-08 09:59] TDeprez commented on #99
@grezar I was running it in a container so was able to add in the proxy settings. However as I was using Kubernetes I then found this wasn't the best way of doing things and ended up just using the 'aws ecr get-login' command and parsing the result.

[2018-05-17 07:31] srizzling commented on #80
@samuelkarp @rpnguyen @deyangyin We had REALLLY GOOD traction on this for 12 days.. whats the current status? Anything the community can help with to get this on the fast track? I want to really start using this for some production CI/CD workloads!

[2018-05-29 21:55] deyangyin commented on #80
@srizzling We have created our tagged release with v0.1.0 which will remove obstacles for Homebrew formula. For binary release, we are working on that but Amazon has strict internal process and it will take longer for us to finish that.

[2018-05-30 15:14] hibbert opened #112 "How to use golang library with assumerole"
Hi,

I'm looking to use the ECR in golang, prior to running the ECR helper I'm looking to assume a role. This will provide me with some creds but I am unsure where to put this into the call to ECRHelper.

Thanks

[2018-06-06 23:08] ntman4real commented on #104
@ghost
Did you put your aws creds in the CI/CD settings under 'secret variables'?

[2018-06-12 11:03] grezar opened #113 "no basic auth credentials error in docker container on ec2 instance"
Hi there.
I'm using amazon-ecr-credential-helper in docker container on ec2 instance. [AmazonEC2ContainerServiceforEC2Role](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/instance_IAM_role.html) is attached to that ec2 as iam role.

I build amazon-ecr-credential-helper by entrypoint.sh when container start-up like below.
[code]
I mount `/tmp` and `docker.sock` on container.
I need to

[2018-06-12 18:11] deyangyin commented on #113
Hello @grezar , are you trying to use creds helper in your docker container? If so, please make sure that your AWS Credentials are stored in your container.

The ~/.aws/credentials file
The AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY environment variables
An IAM role for Amazon EC2
If you are working with an assumed role please set the environment variable: AWS_SDK_LOAD_CONFIG=true also.

[2018-06-26 19:19] mattlyle commented on #103
I think the fix is to change your line endings from CRLF to just LF

[2018-07-03 02:05] #113 closed

[2018-07-04 09:49] volym3ad commented on #80
I've forked and created internal binary releases here https://github.com/lun/amazon-ecr-credential-helper/releases/tag/v0.1.0-flatfy . I think you can do the same or just use mine 😉

[2018-07-19 12:54] lavinia09 commented on #52
I'm struggling with the same problem.
Where did you add 'docker-credential-ecr-login'? In the .gitlab-ci.yml? Or in the pipeline settings?

[2018-07-19 12:59] lavinia09 commented on #104
I am having the same problem. I did add the aws credentials in the CI/CD settings. Anybody has a solution for this?

[2018-07-20 08:35] punkracy commented on #52
You do not specify executable anywhere. When you issue "docker" command like: docker push it try to authenticate based on ~/.docker/config.json. And there should be
[code]
And it will look for docker-credential-CONFIG_ENTRY, so docker-credential-ecr-login.

Right now we're not using this project, we wrote our own helper in Go, but it was helpful for start.

[2018-07-26 00:36] yuelipku opened #114 "Allow user-defined AWS_PROFILE and AWS_REGION"
hi,
I am wondering if it is possible to add a configure file in this pacakge, where user can define their own AWS_PROFILE and AWS_REGION.
I have met a problem where it is difficult to set AWS_PROFILE.

[2018-07-26 00:41] yuelipku commented on #63
I met the same problem as @joshk0 , I have to set AWS_REGION=us-west-2 in order to fix this.

[2018-07-26 07:21] srizzling commented on #80
Nearly 2 months since the last update. Any progress folks?

[2018-08-07 19:02] rossmckelvie commented on #76
I was able to resolve this by modifying the file `~/.docker/config.json` to include an `auths` object with our AWS ecr domain.

Originally (produced authentication errors):
[code]

Current (resolved build issues on Jenkins, able to pull images down now):
[code]

[2018-08-11 18:59] #76 closed

[2018-08-14 03:59] gumieri commented on #104
Use the [CI variable](https://docs.gitlab.com/ce/ci/variables/README.html#variables):
[code]
or
[code]

source:
https://docs.gitlab.com/ce/ci/docker/using_docker_images.html#define-an-image-from-a-private-container-registry

[2018-09-17 16:34] miked0004 commented on #9
This is not limited to docker compose and the solution of piping to the credential plugin seems less useful than the basic `aws ecr get-login --no-include-email`.
Is there any solution in the works here?

[2018-10-04 13:19] ravneetarora commented on #103
I am also encountering the same issue on windows. It is working fine on Ubuntu.

[2018-10-09 08:46] Torniojaws commented on #101
Definitely. And it doesn't help that ``go get`` fails silently in Ubuntu:
[code]
No errors or warnings appear after the failed ``go get``.

[2018-10-09 21:32] robermar2 commented on #103
I am also encountering this issue.  Any help or guidance would be appreciated.  I am able to compile other go apps on my windows machine, but not this one.

[2018-10-10 08:35] ravneetDevops commented on #103
I think the issue is with the golang image that gets downloaded first as mentioned in the Dockerfile.
rest of the tasks mentioned in Dockerfile are to be executed in that container.
If I manually run the golang container; it gives me error. So issue is most likely running the same on windows.
What I did is I used Ubuntu machine only to create credential helper exe.
I update the makefile to build w

[2018-10-10 08:37] ravneetarora commented on #103
I think the issue is with the golang image that gets downloaded first as mentioned in the Dockerfile.
 rest of the tasks mentioned in Dockerfile are to be executed in that container.
 If I manually run the golang container; it gives me error. So issue is most likely running the same on windows.
 What I did is I used Ubuntu machine only to create credential helper exe.
 I update the makefile to bui

[2018-10-12 17:11] nattvasan opened #116 "docker-credential executable file path issue"
I'm using Nomad to pull the docker images from ECR. I followed the instructions in

https://aws.amazon.com/blogs/compute/authenticating-amazon-ecr-repositories-for-docker-cli-with-credential-helper/

built the binary. But, my nomad tasks are failing to pull the image from ECR repository.

**Error details:**

2018-10-12T17:05:37Z  Driver Failure   failed to initialize task "trove" for alloc "84f737

[2018-10-12 18:17] nattvasan commented on #116
@FernandoMiguel

Currently, Nomad service is in /usr/bin so I placed the docker-credentials-ecr-login binary to /usr/bin location as well.

root@XXXXXXX:/usr/bin# ls -la | grep nomad
-rwxr-xr-x    1 root root    70356920 Sep 13 18:03 nomad*
root@XXXXXX:/usr/bin# ls -la | grep docker-cred
-rwxr-xr-x    1 root root     6709632 Oct 12 17:58 docker-credential-ecr-login*
root@XXXX:/usr/bin#

[2018-10-12 19:46] nattvasan commented on #116
Fixed it ! Thank you !

[2018-10-12 19:46] #116 closed

[2018-10-17 12:38] pctj101 opened #117 "systemd unit start - no basic auth credentials"
docker pull works great in normal interactive shell

However, docker pull does not work in systemd unit.  This is on CoreOS-stable-1855.4.0-hvm (ami-086eb64b7f4485a72)

[code]

results in
[code]

Normally docker pull works, with binary installed in /opt/bin (default part of path for interactive shells)
[code]

[2018-10-17 12:44] pctj101 commented on #117
solved by adding to [Service]
Environment="PATH=/opt/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"

[2018-10-17 12:44] #117 closed

[2018-10-23 21:16] luizhpriotto opened #118 "Token has expired"
Hello, how are you?

I'm using the Amazon linux (Amazon Linux AMI release 2018.03) and Docker Swarm (18.06.1-ce).

My docker-credential-ecr-login is "0.6.0".

This my config.json:

`{
    "credsStore":"ecr-login",
    "auths": {
        "########.dkr.ecr.sa-east-1.amazonaws.com": {
        }
    }
}`

I'm using root for operations... i can push and pull the images without "aws ecr get-login --no-i

[2018-10-23 21:20] nayeemd commented on #118
is the config.json on worker having the auths.

[2018-10-24 00:32] luizhpriotto commented on #63
I had the same issue. I did this and work:

#$(aws ecr get-login --no-include-email --region sa-east-1)

#docker pull xxxxx.dkr.ecr.sa-east-1.amazonaws.com:xxxxxx

#docker-credential-ecr-login list

you should get:

{"https://xxxxxx.dkr.ecr.sa-east-1.amazonaws.com":"AWS"}

it will create the file ~/.ecr/cache.json

modify the ~/.docker/config.json to
{
"credsStore": "ecr-login"
}

thanks @HrmesWor

[2018-10-24 00:45] luizhpriotto commented on #118
I didnt know that i need to configure the credential helper im my managers too.
Problem solved! sorry.

[2018-10-28 22:20] josephspurrier commented on #104
I had to remove the vendor directory and grab the latest packages for it to work for me: https://gitlab.com/gitlab-org/gitlab-runner/issues/1583#note_112588198

[2018-10-29 05:10] samuelkarp commented on #104
@josephspurrier Can you try https://github.com/awslabs/amazon-ecr-credential-helper/pull/120?  I've updated the vendored dependencies in that PR.

[2018-11-01 22:31] spazm commented on #113
@grezar : did you figure out what was wrong?

I ran into a similar problem with docker pull giving a `no basic auth credentials` error.   After all sorts of my poking and prodding,  none of which seemed to do anything, it started working.  Wondering if it was a cached bad credential?

There are some logs and a cache file in `~/.ecr/`.  May be useful to the next person who runs into a problem.

[2018-11-02 23:36] luizhpriotto opened #124 "Token has expired again!"
Hi guys, I need your help and your experience.

I have a configured docker swarm, 3 managers and 3 workers.

I already have configured docker-credential-ecr. I can do the "push" perfectly in all nodes manager and also the workers. But when I try to update a new image I my cluster, I receive an error about “authentication expired” and my cluster is not updated.  If I do the “push” manually of the n

[2018-11-03 01:38] samuelkarp commented on #124
Hi @luizhpriotto,

I'm not very familiar with Docker Swarm, but my understanding is that Docker Swarm does not properly handle expired credentials properly.  Please see https://github.com/moby/moby/issues/31063 and https://github.com/docker/for-aws/issues/5 for some context.

Since I believe this is an issue with Docker Swarm and not an issue with the credential helper, I'm closing this issue.

Th

[2018-11-03 01:38] #124 closed

[2018-11-12 23:09] emmanuel commented on #80
Four months later.... crickets (and over two years(!) since the issue was raised: #15). Based on observed activity, I believe it is safe to say that Amazon has abandoned providing binary releases. That disappoints me. Ah well, life is full of disappointments.

[2018-11-12 23:10] emmanuel commented on #80
FWIW, here's the (directly-deployable) work-around I'm using:

[code]

[2018-11-12 23:43] joshenders commented on #9
Encountered this issue today. Ended up using the ```echo $registry | docker-credential-ecr-login get``` approach which resolved the issue for me. I echo the sentiments of others, wishing the docker cli would parse the `FROM` directive in my Dockerfile.

[2018-11-12 23:46] samuelkarp commented on #9
Me too!  Unfortunately, this change needs to be made in the Docker CLI itself rather than in this project.  https://github.com/moby/moby/pull/32967 looks stalled, but that's where the work would need to happen.

[2018-11-20 21:20] Tim-Co commented on #81
For the system account you need to put it here: `C:\Windows\system32\config\systemprofile\.docker\config.json`

[2018-11-23 15:57] russau opened #132 "make docker fails if outside of a git repo"
Right now if I attempt to `make docker` from a tar download I get an error.

[code]

This previously worked, e.g:

[code]

[2018-11-25 00:35] samuelkarp commented on #132
Thanks for opening this issue.  This was an unintended consequence of some build refactoring, so I'm marking it as a bug for now.

If you need to build outside of git, you have two options:

* Option 1: Clone the git repository and use `make release-tarball` to build a working tarball.  That tarball can be extracted and used to build without needing the whole git repository.
* Option 2: After down

[2018-11-25 00:41] samuelkarp commented on #112
Hi, apologies for the delayed response.  You can configure the credential helper to use your custom AWS credential provider prior to calling either [`api.NewClient`](https://github.com/awslabs/amazon-ecr-credential-helper/blob/v0.2.0/ecr-login/api/factory.go#L35) or [`api.NewClientWithOptions`](https://github.com/awslabs/amazon-ecr-credential-helper/blob/v0.2.0/ecr-login/api/factory.go#L36).

[2018-11-25 00:41] #112 closed

[2018-11-25 00:43] samuelkarp commented on #99
In general you can use the `HTTP_PROXY` environment variable to control the proxy settings.  I am not familiar with how Kubernetes invokes Docker, though my understanding is that the Kubernetes AWS cloud provider handles authenticating with Amazon ECR.

[2018-11-25 00:43] #99 closed

[2018-11-25 00:44] samuelkarp commented on #68
Closing as there has been no response in over a year.

[2018-11-25 00:44] #68 closed

[2018-11-25 00:46] samuelkarp commented on #64
The 0.2.0 release has moved to logrus instead of seelog.  Logs are now written to `~/.ecr/log/ecr-login.log` and can be rotated using `logrotate(8)`.

[2018-11-25 00:48] samuelkarp commented on #62
Fixed with #119.

[2018-11-25 00:48] #62 closed

[2018-11-25 00:49] samuelkarp commented on #114
@btsuhako's answer is correct.  Closing for now, feel free to reopen if you're having issues with that.

[2018-11-25 00:49] #114 closed

[2018-11-25 00:50] #118 closed

[2018-12-03 03:38] mkaja opened #133 "go install ecr credential is killing and time consuming -do we have python version of this util?"
go install ecr credential is killing and time consuming -do we have python version of this util?

 setting gopath and goroot in both linux and mac is killing ....

[2018-12-16 17:45] alex88 opened #135 "Doesn't work on latest docker version"
After installing the credential helper and trying to pull the image from the ecr registry:

[code]

seems it's not even trying to use the helper. There are no logs in `~/.ecr`

[2018-12-16 19:39] FernandoMiguel commented on #135
Seems to be missing your account details

[2018-12-16 19:47] alex88 commented on #135
@FernandoMiguel seems in the background when actually using docker it was trying to call `docker-credential-ecr-login` not `ecr-login`, after copying the same file to both `ecr-login` and `docker-credential-ecr-login` it worked :/

[2018-12-16 19:47] #135 closed

[2018-12-22 14:31] b6pzeusbc54tvhw5jgpyw8pwz2x6gs commented on #104
@ghost I also wanted to pull the ECR docker image directly and build a new gitlab-runner-with-ecr docker image. check out below

https://github.com/aluc-io/gitlab-runner-with-ecr
or
https://hub.docker.com/r/alucio/gitlab-runner-with-ecr/

[2018-12-28 04:54] estahn commented on #133
@mkaja This is a duplicate of #80

If this is for your local the following may be helpful: https://github.com/awslabs/amazon-ecr-credential-helper/issues/80#issuecomment-376140958

[2018-12-28 04:57] estahn commented on #80
@samuelkarp How is this related to the issue? Can you shed some light on the turnaround time for the internal process to be completed?

[2018-12-28 06:10] lox commented on #80
Does that mean you've ticked off some of the required tasks you stated in the initial issue @samuelkarp?

[2018-12-28 16:41] pecigonzalo opened #137 "Slow docker commands with: credsStore and credHelpers"
Similar to the error reported here: https://github.com/docker/cli/issues/1591 seems like the `ecr-login` helper takes a really long time to timeout finding credentials. I could not find in the SDK any parameter to make this shorter, but I think it could be a good idea to "return" faster from the cred search.

[2018-12-28 19:09] samuelkarp commented on #137
@pecigonzalo Can you tell me a bit more about how you're using the credential helper and how you have it configured?  I suspect that delay is because the credential helper is trying to grab credentials from the link-local address 169.254.169.254 (the address used by the EC2 instance metadata service) and the timeout is set too long.

[2018-12-28 19:22] samuelkarp commented on #80
@estahn We've recently started publishing the roadmap for ECS, ECR, Fargate, and EKS [here](https://github.com/aws/containers-roadmap/projects/1).

@lox To some extent, but not in a general way.  Those boxes have been ticked specifically for Amazon Linux as we're reusing the build system, publishing/hosting infrastructure, and signing/auditing mechanisms that are used for every package that is par

[2018-12-28 20:45] pecigonzalo commented on #137
Samuel, most of it is explained in the linked issue to Docker.
I suspect the same thing as I mentioned on the main message, I think it's a
timeout on the introspection API (169....).

This is on a workstation, not a server and we don't have the creds all the
time, we use aws-vault to only expose credentials as required.
I understand this is not covering 80% of the use cases, but it would be
ideal.

[2018-12-28 20:46] samuelkarp commented on #137
Do you have credentials in your `~/.aws/credentials`, do you pass credentials as environment variables, or something else?

[2018-12-28 20:56] pecigonzalo commented on #137
As mentioned, when the error happens is when there are no credentials. Im
not even using an ECR repo, that is the issue.
There are 2 parts:
A) docker still tries to get credentials for a repo not related to what we
are trying to build (docker issue)
B) ecr-login takes to long to timeout when there are no credentials present

What I think we should tune is that timeout.

On Fri, Dec 28, 2018, 9:46

[2018-12-28 21:03] samuelkarp commented on #137
Yep, and that is covered in your issue https://github.com/docker/cli/issues/1591.  There are a few other issues that cover that scenario as well, but I'm having trouble finding the links right now.

When you *do* provide credentials (since you have the credential helper installed, I'm assuming you do use it at some point), what mechanism do you use to provide them?  I'm trying to understand which

[2018-12-28 21:42] lox commented on #80
I just noticed that there are tagged releases now. Nice one @samuelkarp!

We could probably get this into Homebrew now. @singingwolfboy any interest in re-opening https://github.com/Homebrew/homebrew-core/pull/18914?

[2018-12-28 21:45] samuelkarp commented on #80
@lox It's in Homebrew already: https://github.com/Homebrew/homebrew-core/pull/34147

[2018-12-28 21:45] lox commented on #80
Hell hath frozen over! 😍

[2018-12-28 21:46] lox commented on #80
Thanks for your efforts @samuelkarp!

[2018-12-28 23:13] pecigonzalo commented on #137
@samuelkarp I mean no disrespect by this, but sometimes it seems you are not reading my messages, as I know my docker issue is covered in the linked issue, that is why I linked, mentioned and referenced it in relation to the docker part of the problem.

When providing them, I use either env vars or introspective API, both provided by https://github.com/99designs/aws-vault.
If you are not familiar

[2018-12-28 23:20] samuelkarp commented on #137
Thanks, so it sounds like you're using both the environment variables credentials handler and the IMDS credentials handler.  I want to make sure that changing the timeout here doesn't break your use-case with the IMDS credentials handler.

I'll mark this as a bug and when a fix is available, I'd appreciate it if you can test it.

[2018-12-28 23:43] samuelkarp commented on #137
As a workaround, you can block that particular IP address locally:

[code]

Blocking the IP address should cause the lookup to fail immediately, instead of taking a while to time out.

You can reverse that by running this command:

[code]

[2018-12-28 23:52] pecigonzalo commented on #137
@samuelkarp blocking the ip works perfectly.
Personally, I think most people use either the cred file `~/.aws` or env vars for laptop use, but I would think just removing the IMDS (i didnt knew that shortname) would probably break some other use cases, but it might be safe to reduce it to something more sensible as most of the time IMDS responds super fast with this.

I can certainly test any futu

[2018-12-28 23:55] samuelkarp commented on #137
Yes, I don't want to remove any of the credential handlers from the chain, but hopefully customize the IMDS provider to shorten the timeout.

[2018-12-29 00:16] estahn commented on #80
I would have thought awslabs would provide their own homebrew tap. Thus
keeping control over the install instructions and being able to integrate
the update of the tap into the release pipeline. I’m surprised you giving
this up yet can’t release a binary.

Do I still need a Golang environment with this recipe? It provides neither
a reference to a binary nor has a Golang dependency.

On Sat, 29 Dec

[2018-12-29 00:18] lox commented on #80
@estahn: Yes, you need a golang environment for the recipe:

https://github.com/igas/homebrew-core/blob/b285f8aca6e4a1152fc08af275fdd43f6a0bcb1a/Formula/docker-credential-helper-ecr.rb#L16

[2018-12-29 00:19] lox commented on #80
But I'd guess the bottles would contain binaries?

[2019-01-02 08:49] samuelkarp opened #139 "Go 1.7 and 1.8 are failing in TravisCI"
[code]

We should probably remove 1.7 and 1.8 from TravisCI since they're no longer in supported in Go's [release policy](https://golang.org/doc/devel/release.html#policy) (Go 1.10 and Go 1.11 are supported, anything older is not).  We also can't really build with 1.6 anymore, so the README also needs to be updated to have a current set of requirements.

[2019-01-08 16:30] lybroman opened #140 ""No such image:" error still occurs in AWS docker swarm setup"
I have followed the doc to setup the amazon-ecr-credential-helper automatically in launch configuration user data for swarm node ec2 instances. When I ssh to the newly created node, i could pull any image in the ecr. However the service update or stack deploy would still show "No such image:" error. If I pull the image manually, the service container could be launched correctly on that node.

[2019-01-08 19:21] samuelkarp commented on #140
I don't believe that Docker Swarm can use credential helpers.  See https://github.com/moby/moby/issues/31063 for more details.

[2019-01-08 19:21] #140 closed

[2019-01-11 22:30] #139 closed

[2019-01-15 15:30] ybychenok commented on #77
It would be great to have this in main README.md.

[2019-01-15 18:13] samuelkarp commented on #77
@ybychenok Would you be interested in sending a pull request to update the README.md?

[2019-01-16 13:31] ybychenok commented on #77
Ok, I'll try.

[2019-01-18 01:36] samuelkarp opened #145 "Mocks used in client_test.go depend on specific SDK interface"
The mocks in [client_test.go](https://github.com/awslabs/amazon-ecr-credential-helper/blob/master/ecr-login/api/client_test.go) depend on the `ecriface.ECRAPI` interface.  This interface changes in different versions of the AWS SDK for Go as new functionality is added to the ECR API and released.  While we vendor dependencies in the main repository and in the build for Amazon Linux, some distribut

[2019-01-19 03:13] beamerblvd commented on #94
This hit me, too. It's a big bummer. I was looking forward to shortening the `<horrendous ID>.dkr.ecr.<region name>.amazonaws.com` URIs. I, apparently, successfully got a proxy in front of it, and then had to throw it all away when I had no way to authenticate (neither `ecr-login` nor `aws ecr get-login` returns an auth that Docker can use with my custom URL). Would really love to see this fixed.

[2019-01-21 12:40] willejs commented on #80
I have another workaround. Instead of waiting for statically compiled binary releases, you could download the official rpm, extract the binary and place it in the path.

Something like this in a docker container would work:
[code]
It's not pretty, and i am not really keen on hard linking to a rpm package. It is however a trade off against building your own. Saying that, it is not the end of the wo

[2019-01-28 17:47] Ianwww commented on #64
I don't notice any logs on my mac for ecr, has the location been changed? The only file in ~/.ecr/ is cache.json.  I am trying to debug why another app isn't using ecr and still attempting to use the osxkeychain. @samuelkarp

[2019-01-28 17:55] samuelkarp commented on #64
@Ianwww The logs are still in `~/.ecr/log`, but if your application is using osxkeychain I wouldn't expect to see logs (ecr-login is likely not being invoked).

[2019-01-29 18:42] samuelkarp commented on #80
The Amazon ECR Credential Helper has been released into the package archives for Debian Buster (testing), Debian Sid (unstable), and Ubuntu 19.04 Disco Dingo (development).  To install the credential helper in these operating systems, you can use the following commands:

[code]

You will then need to configure the credential helper as described in the [README.md file](https://github.com/awslabs/am

[2019-01-30 21:43] #145 closed

[2019-02-02 16:45] ucancprem opened #153 "Issues installing on ubuntu"
We are having issues installing `amazon-ecr-credential-helper` on ubuntu 14 machines( AWS codebuild).

Is there anyway you could document installing this on Ubuntu 14 ?

[2019-02-07 05:43] rbudiharso commented on #52
what kind of changes do you put to create the custom image? is it into docker:dind or docker:stable image?

[2019-02-07 05:53] punkracy commented on #52
You referring to creating docker image or creating own helper?

[2019-02-07 06:00] rbudiharso commented on #52
I'm referring to this, I assume you build a custom image which include the docker-credential-ecr-login built in.

[2019-02-07 06:23] punkracy commented on #52
Yes. Back then we build our own `dind-aws-ecr:latest` with gitlab and it looked something like this
[code]
Of course config.json was a part of the project and `docker-credential-ecr` was build in previous step

[2019-02-09 23:20] bertramn opened #154 "Don't throw exceptions from ECRHelper methods"
There are 2 comments in the `Add` and `Delete` method implementation of the Docker [ECRHelper interface](https://github.com/awslabs/amazon-ecr-credential-helper/blob/master/ecr-login/ecr.go#L37) that these methods are not needed, followed by a throw error. Incidentally tools like packer **DO** call these methods resulting in our ECR based container builds failing.

Any chance you can log that the

[2019-02-12 01:05] samuelkarp commented on #154
Hi @bertramn, thanks for opening this issue.  I'm curious to know what code is expecting to call `Add` and `Delete` when using this helper; is it code that expects the methods to actually do something or is it just boilerplate and you're really okay with it being ignored?

I'm not sure how I feel about changing these to appear successful when they're not.  In general, I'm not a fan of software tha

[2019-02-12 10:31] sonots-zozo opened #155 "[feature request] relax the restriction docker-credential-ecr-login can only be used with Amazon Elastic Container Registry."
I got an error like:

[code]

I want to use dockerhub in addition to ECR even when I use amazon-ecr-credential-helper.

[2019-02-12 16:22] sonots-zozo commented on #155
sorry, i found that https://github.com/awslabs/amazon-ecr-credential-helper#configuration

[code]

is available, and the docker pull command actually succeeds although I got the error messages.

[2019-02-12 16:22] #155 closed

[2019-02-15 20:54] bramswenson commented on #76
It worked for me as well, many thanks!

But...Why does this work? Is this is a `docker-compose` issue?

[2019-02-15 21:23] jkomyno commented on #132
@samuelkarp @russau Removing `$(GITFILES)` from the Makefile entry named `GITCOMMIT_SHA` worked for me. I'm running Windows 10 with Git Bash and GNU make. The command that I ran is `make windows-amd64`. Here the proposed edit to [Makefile](https://github.com/awslabs/amazon-ecr-credential-helper/blob/master/Makefile):

[code]

[2019-02-15 23:01] samuelkarp commented on #132
@jkomyno I'd prefer not to make that change, as it breaks the way that the Makefile is intended to work when run inside a git repository.  Instead, I'd like to release tarballs that contain the `GITCOMMIT_SHA` file, but it's (unfortunately) not very close to the top of my priority list.  In the meantime, I'd recommend the workarounds I suggested above.

[2019-03-03 15:51] alex131290 opened #156 "Docker API integration with credential helpers"
I have installed the `docker-credential-ecr-login`, i've added `~/.docker/config.json` which holds all the ECR repos that i need access to. Whenever i'm trying to use the `Docker API` to pull an image from one of the repositories which configured in the config.json, i'm getting an error
`curl --unix-socket /var/run/docker.sock   -X POST "http:/v1.35/images/create?fromImage=015895086574.dkr.ecr.us-

[2019-03-03 22:30] samuelkarp commented on #156
Hi @alex131290,

Unfortunately, the Docker API does not make use of credential helpers or of any entries present in `~/.docker/config.json`.  If you're using the Docker API, you'll need to pass the credential data as part of the request to `$version/images/create`.  See the [API documentation](https://docs.docker.com/engine/api/v1.37/#section/Authentication) for more detail.

Thanks,
Sam

[2019-03-03 22:30] #156 closed

[2019-03-10 00:25] bertramn commented on #154
I tried to use the ECR helper with [packer](https://www.packer.io) to build docker images. When I look at the log record, it appears that Packer is calling these APIs after authenticating to delegate storing of the credentials (e.g. a mechanism you will find in the OSX keychain helper). Not an expert but the logic of calling the API makes sense, the part of how you mean to "chain" the cred helpers

[2019-03-12 21:44] dschaaff commented on #80
Are there any plans to add an alpine package? I'm currently extracting the binary from the rpm as noted by @willejs above but it'd much cleaner to have a native package.

[2019-03-14 17:18] julienduchesne commented on #154
If I may chime in too. Having these commands crash makes it impossible to migrate from a workflow where `$(aws ecr get-login --no-include-email)` is called to using this.

Our specific use case is this:
We want to use this for Jenkins slave AMIs but our developers are using lots of logins in their pipelines. If we install this on AMIs, we will crash everyone's pipelines.

Maybe we shouldn't block

[2019-03-14 17:54] julienduchesne commented on #154
I opened a PR that removes the error. However, the docker login now does nothing and it is hidden behavior as you say. Maybe a passthrough could be better? Fulfill the docker login requests if they are given, otherwise use the credsStore?

[2019-03-14 17:54] samuelkarp commented on #154
@bertramn @julienduchesne Would it be a reasonable work-around to use a wrapper around the credential helper that discards those commands?  Something like this:

[code]

[2019-03-14 17:58] julienduchesne commented on #154
Absolutely. However, `packer` seems too specific. Maybe `no-error` or something.

[2019-03-14 18:03] samuelkarp commented on #154
Sure, I was providing that as an example.  Do either of you still want the credential helper itself changed or are you happy using a wrapper script like that one instead?

[2019-03-14 18:10] julienduchesne commented on #154
I just tried it and it works fine. Personally, I'm ok with this solution. Thanks @samuelkarp

[2019-03-15 12:09] bertramn commented on #154
I'd prefer the functionality to reside in the binary, wrapper scripts are just a hack and no one remembers why they are there and what they do exactly.

Can we not add a command arg like `--disable-cred-storage` to the ECRHelper to be "lenient" and not throw the error? This way folks (like myself) would have to deliberately instruct the helper to ignore any not implemented errors and it would othe

[2019-03-19 20:39] subodh-dharma opened #159 "Local build doesn't work, but homebrew version works fine"
I tried cloning the repo and perform a local build with `make docker`. Placed the docker-credential-ecr-login binary in the PATH, and after all the configs suggested in the README, it didn't work. It continues to give the error.

[code]

I downloaded the homebrew version, it works perfectly fine. The homebrew version binary is 0.2.0 while that when I build locally is 0.3.0

[2019-03-20 19:43] samuelkarp commented on #159
@subodh-dharma 	I don't have a Mac, so my ability to help you debug is going to be a bit more limited.  Can you check the logs in `~/.ecr`?  There should be more information on what is failing there.

[2019-03-20 19:47] samuelkarp commented on #154
We can't add flags, as the credential helper is directly invoked by the Docker CLI and there's no way to customize what flags Docker will pass.  However, we could add an environment variable as those will propagate through the `fork`/`execve` boundary.

Chaining is really the right behavior and is something I've been interested in doing, but have lacked sufficient time to do so.  I think the right

[2019-03-21 18:05] subodh-dharma commented on #159
@samuelkarp The `~/.ecr` directory didn't have any log files, just the cache.json from the helper installed from the homebrew.

[2019-03-26 16:34] ktax commented on #159
Hey!
I had the same problem and I needed to set up aws credentials in the ~/.aws/credentials instead of ENV Variables. When installed with homebrew it works for both settings. Hope it helps you!

[2019-03-26 16:40] samuelkarp commented on #159
@ktax @subodh-dharma Building from source should work as well, so I don't currently know what's wrong.

That's odd.  I've noticed that sometimes log lines are output to stderr (and to the terminal) instead of the file, which looks like an error either in how I've configured the logs or in the log library; I'll dig into this more (though unfortunately I don't have a timeline for when I'll be able t

[2019-03-26 16:50] ktax commented on #159
@samuelkarp I've just removed my ~/aws/credentials file and moved my credentials back to env variables to be sure. As I said it does not work for helper built from source (at least for me). It works for helper installed with homebrew though.  I think it is worth a try!

[2019-03-26 22:39] subodh-dharma commented on #159
@samuelkarp -- what is the OS you are working on. I can try spinning up a VM and try building on that and see if the issue still exists.

[2019-03-26 23:49] samuelkarp commented on #159
@subodh-dharma My personal development environment tends to be Ubuntu 16.04 with Go installed into my home directory and Docker installed from the [Docker `apt` repo](https://docs.docker.com/install/linux/docker-ce/ubuntu/#install-docker-ce-1).

[2019-03-27 07:19] so0k commented on #80
only official ubuntu AMIs on Amazon are Ubuntu Bionic, but there is no package for `amazon-ecr-credential-helper` today

this point may be moot as Ubuntu Disco Dingo will be officially released in a few days for now..

[2019-03-27 07:44] doron-levi opened #160 "How can we install on CoreOS?"

[2019-03-30 14:34] bertramn commented on #154
The longer I think about this, the less convinced I am that throwing an error in Add and Delete methods is a good idea. The credential helper is using the externally managed AWS context to produce the credentials for the login action. Why exactly do you need to store/remove the ECR login token? The ECR token expire reasonably quickly and the only way to get new ones is by asking the ecr-credential

[2019-04-08 07:52] resurtm commented on #34
@rvandegrift, @samuelkarp, is there any way to make it permanent in ECR helper config? Thanks!

[2019-04-08 19:04] mdierolf opened #161 "Doesn't work under non-login shell"
It appears that the credential helper expects the environment variable HOME= to be set, otherwise logins hangs for 30 seconds and then fail, see this bug with Nomad:
https://github.com/hashicorp/nomad/issues/5527

SystemD does not set HOME=, as HOME is a variable used only in login shells, and is set by the [login](http://man7.org/linux/man-pages/man1/login.1.html) service

As such, the credential

[2019-04-24 15:13] kcraley commented on #160
@doron-levi - Ran into the same issue and have compiled the binary from source.  Then, I am vendoring it into a repository which uploads all dependencies for Ignition into an S3 bucket.

Ideally, it would be nice to have a public location to pull the binary from that way the URL can be specified inside Container Linux Config/Ignition.

[2019-04-24 19:37] jbergknoff-rival opened #162 "No logs are written unless ~/.ecr/log is created manually"
I recently installed ECR credential helper from source (`make docker`) on a new machine and noticed that it's not writing logs. There is ~/.ecr/cache.json but no ~/.ecr/log directory. If I make the ~/.ecr/log directory then logs will be written there.

[code]

[2019-04-24 20:02] samuelkarp commented on #162
Thank you for the bug report!  I'm able to reproduce this:

<details>

[code]

</details>

[2019-04-30 05:48] deweistarsky commented on #63
Running docker pull first before docker build worked for me. Otherwise it would show a no auth error.

[2019-05-28 19:14] javapapo opened #164 "Incorrect user being picked for ecr login - not authorized - support of profiles on aws credentials"
[code]

I have my `~/.aws/credentials` populated with different profiles (corp multi use account)
Example :

[code]

[code]

I am trying to pull and I get this

[code]

How come is picking this user?

[code]

[2019-05-28 19:36] samuelkarp commented on #164
Hey @javapapo,

It's not clear from your report which user is being used.  Did you want the credential helper to use one of the named profiles in your `~/.aws/credentials` file?

If you don't specify credentials, the credential helper will attempt to locate credentials in an order similar to this:

* Environment variables
* Credentials file (and shared config file, if enabled)
* Container credenti

[2019-05-29 07:51] javapapo commented on #164
Hello @samuelkarp

Thanks for your comment. So I think I can see what is happening.

1. I do have a properly populated `~/.aws/credentials`, that contains many different profiles.
The `credential-helper is picking the `[default]` profile (this was my personal AWS account, while in the same file I have 10 more corp profiles.

2. I have deleted and repopulated my `credentials` file , and now it cont

[2019-05-29 09:43] burdandrei commented on #104
https://gitlab.com/gitlab-org/gitlab-runner/merge_requests/1386 this adds the ability to use ecr creds helper as helper

[2019-05-29 17:08] samuelkarp commented on #164
Yes, the credential helper does support profiles.

If you have multiple accounts configured in `~/.aws/credentials` (with credentials) you can do `AWS_PROFILE=myprofile docker pull`.  If you have multiple accounts configured in `~/.aws/config` with a `role_arn` and `source_profile` set up or a `credential_process`, you can do `AWS_SDK_LOAD_CONFIG=true AWS_PROFILE=myprofile docker pull`.

It's prob

[2019-06-08 17:59] engmsaleh commented on #155
It didn't solve the problem with me
I'm using `Docker version 18.09.1, build 4c52b90`

[2019-06-14 12:01] willejs commented on #80
@samuelkarp can you suggest a way you would be happy to build and publish statically compiled binaries to github releases? CircleCI? I can then make a PR with the relevant config...
A lack of binaries makes this really useful utility almost impossible to use anywhere.
The published homebrew and linuxbrew defs are fine, and the debian/ubuntu images are useful, but to easily install them in any dock

[2019-06-19 15:03] venkat2286 opened #166 "Docker push to ECR not working"
The push refers to repository [xxxxxxxxxxxxxxx.dkr.ecr.us-east-1.amazonaws.com/test]
bc0967eecd77: Preparing
35c20f26d188: Preparing
c3fe59dd9556: Preparing
6ed1a81ba5b6: Preparing
a3483ce177ce: Preparing
ce6c8756685b: Preparing
30339f20ced0: Preparing
0eb22bfb707d: Preparing
a2ae92ffcd29: Preparing
no basic auth credentials

- I tried all possible option like aws configure ...aws ecr get-login wi

[2019-06-19 18:31] uselvvi commented on #101
This command `go get -u github.com/awslabs/amazon-ecr-credential-helper/ecr-login/cli/docker-credential-ecr-login` shows below error. Can you please help how to fix

[code]

[2019-06-24 15:55] ronaldegmar commented on #34
`AWS_SDK_LOAD_CONFIG=true AWS_PROFILE=myprofile docker pull` works for me, but I cannot make it work with nomad. I have inserted those environment variables in nomad systemd unit file, docker systemd unit file and nothing. It seems that those cannot be set up permanent in the ECR helper config too.

[2019-07-03 00:29] stedwick commented on #101
I get the same error, doesn't work

[2019-07-03 16:41] samuelkarp commented on #101
Hey all, sorry for the delay in responding here.

@kennyk65 The credential helper is now available in several package managers listed in the README file, including Homebrew, Debian Buster, Ubuntu 19.04, Amazon Linux 2, and AUR.  We don't currently have non-packaged binary downloads, but I will update this issue when those become available.

@Torniojaws Thanks for the comment! I'd be happy to merge

[2019-07-03 17:37] stedwick commented on #101
FYI, our organization has decided to go with https://quay.io/ instead, as it so much easier.

[2019-07-03 19:47] Torniojaws commented on #101
I created a pull request for the README update:
https://github.com/awslabs/amazon-ecr-credential-helper/pull/167

[2019-07-03 23:00] samuelkarp commented on #101
Thanks @Torniojaws for #167; I'm going to resolve this issue as there is now better documentation.  @uselvvi, if you're still having problems feel free to open a new issue.

[2019-07-03 23:00] #101 closed

[2019-07-03 23:02] samuelkarp commented on #166
Hello, `aws ecr get-login` is a command of the AWS CLI, not the credential helper.  If you're looking for help with the AWS CLI, you can find their repository [here](https://github.com/aws/aws-cli/).  I'm closing this issue, but if you do install and configure the credential helper and run into issues, feel free to reopen this or open a new one.

[2019-07-03 23:02] #166 closed

[2019-07-03 23:06] samuelkarp commented on #161
Hi @mdierolf!  Can you try setting the `AWS_ECR_CACHE_DIR` environment variable to your preferred location and see if that resolves your issue?

[2019-07-03 23:47] #162 closed

[2019-07-06 00:11] samuelkarp commented on #133
Closing in favor of https://github.com/awslabs/amazon-ecr-credential-helper/issues/80

[2019-07-06 00:11] #133 closed

[2019-07-08 17:07] samuelkarp commented on #164
Hi @javapapo.  We haven't heard back from you in a while, and I've updated the README to include more information about the `AWS_PROFILE` and `AWS_SDK_LOAD_CONFIG` environment variables.  I'm closing this issue, but if you continue to experience problems please feel free to open a new one.

[2019-07-08 17:07] #164 closed

[2019-07-08 21:26] samuelkarp commented on #80
Version [0.3.1](https://github.com/awslabs/amazon-ecr-credential-helper/releases/tag/v0.3.1) has been released; binary artifacts are published into S3 and linked from that page.

[2019-07-08 21:26] #80 closed

[2019-07-08 21:27] samuelkarp commented on #160
Binary releases are now available.  You can find the links to v0.3.1 [here](https://github.com/awslabs/amazon-ecr-credential-helper/releases/tag/v0.3.1).

[2019-07-08 21:27] #160 closed

[2019-07-08 21:27] samuelkarp commented on #153
Binary releases are now available.  You can find the link to v0.3.1 [here](https://github.com/awslabs/amazon-ecr-credential-helper/releases/tag/v0.3.1).

[2019-07-08 21:27] #153 closed

[2019-07-08 21:28] samuelkarp commented on #132
Tarballs with a correct `GITCOMMIT_SHA` file are now available.  You can find the tarball for v0.3.1 [here](https://github.com/awslabs/amazon-ecr-credential-helper/releases/tag/v0.3.1).

[2019-07-08 21:28] #132 closed

[2019-07-08 21:54] samuelkarp commented on #159
@subodh-dharma The issue with the log files has been fixed with the most recent version, [v0.3.1](https://github.com/awslabs/amazon-ecr-credential-helper/releases/tag/v0.3.1).  Can you try this version and see if you're still experiencing problems?

[2019-07-08 21:57] samuelkarp commented on #104
It sounds like GitLab has added support for credential helpers.  There are now binary releases of the credential helper available for download (see [v0.3.1](https://github.com/awslabs/amazon-ecr-credential-helper/releases/tag/v0.3.1)).  I'm closing this issue for now, but please feel free to open a new issue if you continue to have difficulty using the credential helper.  If anyone wants to write

[2019-07-08 21:57] #104 closed

[2019-07-08 22:57] jeffb4 opened #173 "docker build will not use ecr-login with credHelpers"
This is related I'm sure to many historical issues, but it's currently occurring and it's just different enough I wanted to open a new ticket. In the following `2xxxxxxxxxxx` is the correct account. Credentials are populated into `~/.aws/credentials`. `docker pull` works successfully

[code]

If instead of `credHelpers` I specify `ecr-login` in `credsStore`, everything works correctly. In the proc

[2019-07-08 23:14] samuelkarp commented on #173
Hey @jeffb4, thanks for reaching out.  Since the problem you're experiencing is with `docker build` not invoking the credential helper reliably rather than with the operation of the credential helper itself, I think it'd be better to open your issue against [the upstream Docker (Moby) repository](https://github.com/moby/moby).

Some more background information in case you are interested in some ad

[2019-07-08 23:17] samuelkarp commented on #173
https://github.com/moby/moby/pull/32967 was a discarded pull request that attempted to address this and https://github.com/moby/buildkit/issues/81 appears to be another approach.

[2019-07-09 18:34] jeffb4 commented on #173
Ugh, I found the problem. And I'm going to commit it to a GH issue in case anyone else has the problem in the future even though it's not a `docker-credential-ecr-login` problem and I look verrrry stupid.

if `credHelpers` contains multiple helpers (as mine does because my paste above is a ~lie~ abbreviated config) they will all be iterated over by `docker build` (see Samuel's explanation of the c

[2019-07-09 18:34] #173 closed

[2019-07-09 18:37] samuelkarp commented on #173
@jeffb4 Thanks for updating! It's probably worth opening a bug upstream to Docker/Moby about the silent failure; that looks like a pretty confusing behavior that could be fixed.

[2019-07-09 20:36] jeffb4 commented on #173
Definitely, https://github.com/docker/cli/issues/1989

[2019-07-10 08:04] sajusat opened #174 "apt install error in mint"
Linux MintVM 4.15.0-54-generic #58-Ubuntu SMP Mon Jun 24 10:55:24 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

sudo apt update

sudo apt install amazon-ecr-credential-helper

got error

      E: Unable to locate package amazon-ecr-credential-helper

[2019-07-10 08:19] samuelkarp commented on #174
The credential helper is not currently available in the Linux Mint repositories.  You can download the v0.3.1 binaries [here](https://github.com/awslabs/amazon-ecr-credential-helper/releases/tag/v0.3.1).

[2019-07-10 08:19] #174 closed

[2019-07-12 12:29] igorpdasilvaa commented on #91
Hi, @nvivo  yo fixed it ? i know we can use --with-registry-auth to create or update the service but when inside a cluster with multiple nodes this doesn't work fine, the container of service is created in a node, but if this node become offline the swarm can't up this again giving `no such image`  error

[2019-07-15 22:45] djm-healx opened #175 "`make docker` does not write anything to bin/"
Evening,

I have been trying to create the binary on Windows Linux Subsystem (Ubuntu 18.04) using Docker for Windows (up to date), since I cannot install `amazon-ecr-credential-helper` directly from the Ubuntu package registry.

While `make docker` appears to run just fine, nothing is actually written to the `bin` directory in the repository. However, I did notice that the timestamp for `bin` beco

[2019-07-16 12:20] igorpdasilvaa commented on #175
Hi, `make docker` make the output of binary in you local folder so if you are in `/home/user/amazon-ecr-credential-helper` and run the make docker the binary will be in this folder and not in the bin folder

[2019-07-16 12:39] igorpdasilvaa opened #176 "Swarm service "No such image""
In a  swarm cluster i need to run a service create with `--with-registry-auth`, fine but if my node become offline the swarm can't up a new container in any other node giving the `no such image`
In all nodes i can use the docker pull in the image and work fine but the service can't do this automatically
Anyone know how to solve this ?

[2019-07-16 12:59] igorpdasilvaa commented on #175
make docker output the binary in you local folder and not in the bin, check the folder of the project

[2019-07-16 13:17] djm-healx commented on #175
The binary is not anywhere to be seen unfortunately.

[2019-07-31 20:52] samuelkarp commented on #176
Hi, I'd recommend opening this issue on the Swarm repository instead.  I don't have enough familiarity with Swarm to be able to help.

[2019-07-31 20:52] #176 closed

[2019-08-06 00:36] samuelkarp commented on #175
@djm-healx What output do you see when you run `make docker`?

If you prefer to just download a prebuilt binary, you can find the links on the [v0.3.1 release](https://github.com/awslabs/amazon-ecr-credential-helper/releases/tag/v0.3.1).

[2019-08-12 19:50] richardgavel opened #178 "Windows build resulting in Windows Defender catch"
I created a Windows build (since none is provided) and Windows Defender is catching the resulting EXE. Can you either publish a Windows EXE so we have something that is trusted or validate none of the libraries that would be referenced contains this issue.

![image](https://user-images.githubusercontent.com/3877391/62893459-4ff39280-bd10-11e9-8a2c-f8f4cd0e0f3c.png)

[2019-08-12 20:27] samuelkarp commented on #178
A Windows executable is available for download [here](https://github.com/awslabs/amazon-ecr-credential-helper/releases/tag/v0.3.1).

I have attempted to reproduce the issue that you've reported on Windows Server 2019, both with the Windows executable linked above and by compiling from scratch, and have been unable to do so.

In the future, if you think you’ve found a potential security issue, plea

[2019-08-12 20:27] #178 closed

[2019-09-04 05:41] mt-sebastien-robert commented on #76
@rossmckelvie That's interesting because we have to inverse problem.
With our config file like
[code]

It fails (the same way, "no basic auth credentials"), then if we remove the content of the `auths` object, it works.

[code]

However it works after performing a `docker login` AND emptying the `auths` object in config file.
When we run `docker login` then it puts back something in the `auths` ob

[2019-09-05 18:24] jeffb4 opened #179 "Kudos - binary builds"
Thank you for getting the binary build process worked out for ecr-credential-helper, it's a huge help.

[2019-09-05 18:26] samuelkarp commented on #179
Thanks!  It's still on my todo list to get v0.3.1 packaged for Amazon Linux and Debian, but let me know if there are any other requests for different builds or for anything else.

[2019-09-05 18:26] #179 closed

[2019-09-10 18:51] cjhubert opened #180 "Issue when MFA is required"
Currently running into an issue where having `mfa_serial` in the aws credentials file leads to the following error:

[code]

Below are the settings used for the environment. If `mfa_serial` is removed and the MFA requirement on actions removed, the docker pull works fine. As soon as `mfa_serial` is added, however, it stops working.

`~/.docker/config.json`
[code]

`~/.aws/credentials`
[code]

[2019-09-11 03:15] jeremygaither commented on #180
Same here. Tried while using aws-vault for MFA, and it didn't pick up the session info...

[2019-09-11 17:26] samuelkarp commented on #180
Hi @cjhubert and @jeremygaither! I haven't tried using the credential helper with `mfa_serial` and I'm not sure whether it will work today.  The credential helper should write logs to `~/.ecr/log/ecr-login.log`; can you look in there and paste the output that is written there when this fails?

(I'm suspecting that this is failing as the credential helper has no way to prompt for an MFA code and I

[2019-09-12 07:07] jeremygaither commented on #180
@samuelkarp I don't see anything under `~/.ecr/log/ecr-login.log`. There's not even an `.ecr` folder in my home folder.

[2019-09-13 00:35] b-willard opened #181 "Support AssumeRole when `credential_source = Environment`"
**Use Case**

I am storing credentials (`AWS_ACCESS_KEY_ID` and `AWS_SECRET_ACCESS_KEY`) encrypted in a remote vault and do not want to expose them to the docker host in question via ~/.aws/credentials. Instead, credentials should temporarily exist on the docker host via the environment. The environment is populated during a configuration management run or image build provisioning process which in

[2019-09-18 22:32] samuelkarp commented on #181
Hey @b-willard, thanks for opening this!  I think it would be good to support `credential_source = Environment` and would welcome a pull request to this effect.  I think I'd ask for some slightly different logic than what you have implemented (specifically: I think it'd be better to introduce a new environment variable to control this behavior rather than relying on `AWS_SDK_LOAD_CONFIG` and `AWS_

[2019-09-19 15:51] scjudd opened #184 "`make docker` fails when the repo is cloned as a submodule"
If the repo is cloned as a submodule, `make docker` fails. This is due to the fact that `GITCOMMIT_SHA` doesn't exist before `make` runs within the build container, and the true `.git/` directory is outside of the Docker build context when we're in a submodule.

I was able to fix this by making `GITCOMMIT_SHA` a dependency of the `docker` make target in the `Makefile`, such that `GITCOMMIT_SHA` al

[2019-09-19 17:13] samuelkarp commented on #184
Hi @scjudd! I'm really curious to know more about why you're attempting to build the credential helper inside a submodule. If you're not already aware, there are [prebuilt binaries and source releases that don't require git](https://github.com/awslabs/amazon-ecr-credential-helper/releases/tag/v0.3.1).

[2019-09-19 18:32] scjudd commented on #184
I actually would happily use the prebuilt binaries if I could checkout version 0.3.1, run `make docker` and produce the same SHA256 hash as what's shipped with the binaries. It seemed this was an easier ask than deterministic builds.

[2019-09-19 18:43] samuelkarp opened #186 "Produce reproducible builds"
Go has long had issue with reproducible builds due to embedding build path information into the artifacts (see https://github.com/golang/go/issues/16860).  Go 1.13 added [`-trimpath`](https://github.com/golang/go/issues/32609) to strip that data, which should make reproducible builds easier.

Reproducible builds help users have confidence that the binaries match the source code.

Reproducible buil

[2019-09-19 18:46] samuelkarp commented on #184
Thanks!  I've opened https://github.com/awslabs/amazon-ecr-credential-helper/issues/186 to track reproducible builds, since this is something I've wanted anyway.

For your use-case of building yourself, another alternative is to build from a [source tarball](https://amazon-ecr-credential-helper-releases.s3.us-east-2.amazonaws.com/0.3.1/release.tar.gz) that already contains a rendered `GITCOMMIT_SH

[2019-09-24 19:10] khurrammalik commented on #180
I am having a similar issue, here is my output from ~/.ecr/log/ecr-login.log
[code]

[2019-10-08 08:19] usamaahmadkhan opened #187 "Unable to use "credsStore" and "auths" at the same time"
I'm unable to login into docker.io registry when i use **ecr-login** with credsStore.
Here is my config.json:
[code]
When I push to ECR it works completely fine. But when I do `docker push docker.io/<image>:<tag>` it gives

**DEBUGGING:**
I tried to do `docker login docker.io` with the above configuration and it gives the following error:

Docker : 18.09.7
docker-credential-ecr-login: 0.3.1

[2019-10-08 17:38] samuelkarp commented on #187
I don't believe Docker supports using "credsStore" and "auths" (with the base64-encoded username/password pair) together.  Docker does support using "credHelpers" for specific, named registries; you can try to specify a different credential helper for "docker.domain.com" and "index.docker.io".  If you continue to have trouble with that or if you have feature requests for Docker, I suggest opening

[2019-10-08 17:38] #187 closed

[2019-10-15 17:48] eliocapelati opened #188 "Ubuntu LTS repository availability"
### Feature Request:

Would be nice to make this available at least to the latest LTS Ubuntu release.

My current system:

[code]

The output of system availability to the package is:

[code]

[2019-10-15 17:54] samuelkarp commented on #188
Hi @eliocapelati! The amazon-ecr-credential-helper package is available in Ubuntu 19.04 and newer, but unfortunately not available in 18.04.  You can request a backport of the package using Ubuntu's backport process, described [here](https://wiki.ubuntu.com/UbuntuBackports).  In the meantime, binary builds of the amazon-ecr-credential-helper are available [here](https://github.com/awslabs/amazon-e

[2019-11-05 09:57] littleJabiel commented on #180
I have the same problem, do you know any workaround please?

thank you

[2019-11-08 21:06] samuelkarp commented on #184
I've merged #185 to address this.  #186 will continue to track reproducible builds.

[2019-11-08 21:06] #184 closed

[2019-12-03 20:55] rdpa commented on #9
For anyone still experiencing this issue, using the docker daemon with [buildkit](https://github.com/moby/buildkit) solves the problem.

[2019-12-05 15:27] Teddy-Schmitz opened #192 "Release New Version"
Hi,

Would it be possible to cut and tag a new release?  The last version is from July 8, 2019 and since then `sts:AssumeRoleWithWebIdentity` was released.  While this was fixed in this repo no-one downstream can use it from a regular `go get` until a new version is released and tagged.  This is preventing projects like [GoogleContainerTools/kaniko](https://github.com/GoogleContainerTools/kaniko)

[2019-12-08 12:04] markus7811 commented on #192
Please try to set the environment variable AWS_SDK_LOAD_CONFIG=true

[2019-12-09 10:31] #192 closed

[2019-12-12 14:07] iNikem opened #193 "Relax the restriction docker-credential-ecr-login can only be used with Amazon Elastic Container Registry."
We use AWS ECR through our internal proxy, which provides much more user-friendly dns name "docker.company.com" for this Docker Registry. Unfortunately, docker-credential-ecr-login fails in this case with "docker-credential-ecr-login can only be used with Amazon Elastic Container Registry."

Can this restriction be lifted?

[2019-12-14 05:48] jim80net commented on #63
For y'all gitlab users with ecr-login failing unless the token is cached, check out [this issue](https://gitlab.com/gitlab-org/gitlab-runner/issues/4426) to see if it's related. I just submitted a [merge request](https://gitlab.com/gitlab-org/gitlab-runner/merge_requests/1719) that I think may help.

[2019-12-21 22:51] dinvlad commented on #164
It looks like `credential_process` is not supported after all: if it's configured, `ecr-login` hangs with a fully loaded CPU, until it times out. I was using `credential_process` with "regular" `aws` commands, but for `ecr-login`, I had to switch back to `.aws/credentials` instead.

[2019-12-23 18:58] samuelkarp commented on #164
@dinvlad Can you open a new issue with details of the problem you're encountering?  I use the credential helper with `credential_process` on a regular basis and would like to help debug this.

[2019-12-31 00:50] samuelkarp commented on #159
We haven't heard back from you in a while, so I'm closing this issue.  If you continue to have trouble, please open a new issue.

[2019-12-31 00:50] #159 closed

[2019-12-31 00:51] samuelkarp commented on #193
Closing as a duplicate of https://github.com/awslabs/amazon-ecr-credential-helper/issues/94.  You may also be interested in following https://github.com/aws/containers-roadmap/issues/299, which tracks the general custom domain feature for ECR.

[2019-12-31 00:51] #193 closed

[2019-12-31 01:04] #64 closed

[2019-12-31 01:05] samuelkarp commented on #81
Closing, as this question appears to be answered.

[2019-12-31 01:05] #81 closed

[2019-12-31 01:08] #37 closed

[2019-12-31 01:09] samuelkarp commented on #6
Closing this as I do not have any plans to implement it at this point.  Can re-examine if the cache size ever becomes an issue for anyone.

[2020-01-02 23:52] samuelkarp commented on #175
Closing this since we haven't heard back from you.  If you're still running into this issue, please feel free to reopen it.  Thanks!

[2020-01-02 23:52] #175 closed

[2020-01-02 23:55] samuelkarp opened #198 "Enable shared config by default"
Currently, the behavior of the AWS SDK for Go is to ignore the shared config file (`~/.aws/config`) unless explicitly enabled and the credential helper inherits this behavior.  The shared config file is not explicitly enabled in the credential helper today, but can be enabled by setting the environment variable `AWS_SDK_LOAD_CONFIG=true`.  It would be better to enable the shared config by default,

[2020-01-19 10:16] bertramn commented on #154
Any further thoughts on fixing this issue? We are a year in and still maintaining a fork of your project to get our packer builds to work. This is extremely annoying since we cannot use amazonlinux extras to just enable and install but need to maintain, build, release and then distribute this hack fork.

[2020-01-28 19:38] andrewsharon commented on #198
I'm going to look into making this change.

[2020-01-30 07:42] chandrangreat commented on #52
@piu28 I am also using Jenkins. I am having the same 'no basic auth credentials found' issue. I am using an AWS ECR image in the agent of pipeline as shown below. I have done the same thing which you have done i.e. put "docker-credential-ecr-login" executable file in the path /usr/bin/. But still it doesn't work. Any suggestions?

[code]

[2020-01-30 18:12] dkarchmer opened #200 "Support for RedHat/CentOS"
Are there no instructions to install this on RedHat/CentOS?

[2020-01-30 20:35] samuelkarp commented on #200
I'm not aware of packages for RHEL or CentOS, but you can download binaries from the [releases page](https://github.com/awslabs/amazon-ecr-credential-helper/releases).

[2020-01-30 20:35] #200 closed

[2020-02-05 20:14] marcomagdy commented on #102
This is how you solve the issue actually. https://github.com/aws/aws-cli/issues/3264#issuecomment-381478869

[2020-02-06 14:23] adrianohrl opened #202 "Uninstall"
I did not find any instruction about uninstalling this tool. And I really need to uninstall it in order to make some tests.

How do I do that?

[2020-02-06 22:16] samuelkarp commented on #202
Docker will only use this credential helper when configured to do so.  That configuration is typically located in `~/.docker/config.json`; you can remove entries that mention `ecr-login`.

The credential helper also records logs and some cached data in `~/.ecr`.  You can remove that folder if you wish.

To fully uninstall the credential helper (rather than just removing the configuration), you'll

[2020-02-06 22:16] #202 closed

[2020-02-07 18:45] #198 closed

[2020-02-08 14:24] DoronCohen opened #205 "Respect XDG Base Directory specification for cache files"
HI,

I wish that the `.ecr` directory would be located in `$XDG_CACHE_HOME/ecr` if the env var is set. This is a good reference: https://wiki.archlinux.org/index.php/XDG_Base_Directory

Thanks

[2020-02-14 00:00] jpigree opened #206 "Version inconsistent with release"
Output of ```docker-credential-ecr-login version``` when using **v0.4.0** binary [release](https://amazon-ecr-credential-helper-releases.s3.us-east-2.amazonaws.com/0.4.0/linux-amd64/docker-credential-ecr-login):
`0.6.3`

I don't understand. Do I miss something?
I tried the 0.3.1 binary release aswell and the output is **0.6.0**.

[2020-02-14 00:04] samuelkarp commented on #206
The `version` subcommand returns the version of Docker credential helper spec (defined [here](https://github.com/docker/docker-credential-helpers/blob/f78081d1f7fef6ad74ad6b79368de6348386e591/credentials/version.go#L4)).  You can find the version for this credential helper using the `-v` flag: `docker-credential-ecr-login -v`.

This is documented in the manual page [here](https://github.com/awslab

[2020-02-14 00:04] #206 closed

[2020-02-14 02:44] jpigree commented on #206
Okay. I was pretty sure I was missing something. Thanks for the quick explanation.

[2020-02-23 18:10] austince commented on #188
Submitted a Backport Bug ticket here: https://bugs.launchpad.net/bionic-backports/+bug/1864375

[2020-03-10 13:19] chandrangreat commented on #104
I tried using the credential helper. I am unable to do it if I have two separate accounts in .docker/config.json or in DOCKER_AUTH_CONFIG variable  like below:

[code]
In https://github.com/awslabs/amazon-ecr-credential-helper they said you can set AWS_PROFILE environment variable to the profile of AWS account. Still unable to pull the image. Any ideas on this

[2020-03-12 15:54] Plazmius commented on #103
That helped me. Used `dos2unix` on my ubuntu to convert line endings inside .scripts folder, and then `make docker` worked fine

[2020-04-06 22:15] adespain opened #207 "docker pull gives error: no basic auth credentials"
This is running on a vagrant box using virtualbox with ubuntu 16.04.  I am also behind a proxy.  I can use the aws cli and pull the image down successfully but this credential helper always gives the error: no basic auth credentials.  I don't see any logs to look at so can anyone point me in the right direction to try and troubleshoot this?

[2020-04-06 23:23] adespain commented on #207
$ docker-credential-ecr-login -v
amazon-ecr-credential-helper
Version:    0.4.0
Git commit: 68cfee0

[2020-04-09 02:13] MaciejKucia commented on #207
Most likely error in credentials or unset AWS_PROFILE variable.
It would be cool if docker deamon could log how it invokes docker-credential-ecr-login but even in debug mode there is no such log.

[2020-04-09 18:06] adespain commented on #207
I can log in with the cli just fine, so I know the credentials are correct.  I have also specified the profile on the command line with AWS_PROFILE=default docker pull ... and still get the same error.  I have even run the vagrant box where there is no proxy so It isn't a proxy issue either...any other ideas?

[2020-04-09 18:11] samuelkarp commented on #207
You'll typically see an error like this when one of two situations is true:

1. The credential helper can't find credentials, or
2. The Docker CLI isn't actually invoking the credential helper.

For situation 1, you should find logs in `~/.ecr/log/ecr-login.log` and the messages there should tell you a bit more.

If you can't find this log file, it's more likely that situation 2 is what's going on

[2020-04-09 18:55] adespain commented on #207
Thanks for that information, I have confirmed everything looks good according to my eyeballs, but I could still be missing something.  I don't know how to read strace, does anyone see anything weird in the output?

Here is my .docker/config.json file:
[code]

Here is my .aws/config:

[code]
.aws/credentials:
[code]
docker-credential-ecr-login is in my $PATH

Here is my strace output:
[code]

[2020-04-09 19:33] samuelkarp commented on #207
I don't see a read of `/home/deploy/.docker/config.json` but I do see it reading `/etc/docker/config.json`.  In contrast, when I run this locally, I see a read of `/home/sam/.docker/config.json`.

<details>

[code]

</details>

I'm not sure why this is.  Do you have a file at that location?  It does look like you're running inside Vagrant and searching Google for that file seems to show some Vagra

[2020-04-09 19:40] adespain commented on #207
@samuelkarp thank you!  You have single handedly cracked this case!  I configured that config file the same as my user profile and it works now.  So now I just need to figure out how to get it to read the user profile config instead of /etc/docker...

[2020-04-09 19:49] samuelkarp commented on #207
Glad I could help!  I'm going to close this issue here as you were able to get the credential helper working and there's something else going on with your Docker setup.  If you're able to figure out what that is, we might be able to add that to a troubleshooting section of the README.

[2020-04-09 19:49] #207 closed

[2020-04-11 23:47] rsibanez89 commented on #166
Is this solved?
[code]

[2020-04-14 16:59] CarlosDomingues commented on #63
I've been bitten by this when trying to setup Gitlab Runner using an [official repository](https://docs.gitlab.com/runner/install/linux-repository.html).

The installation process, by default, executes `gitlab-runner` as a service calling the binary directly:

[code]
Hence, providing environment variables via `/etc/environment`, `/etc/profile`, etc... won't work. Instead, I added `AWS_REGION` to m

[2020-04-23 22:57] nbrandaleone opened #209 "The ability to automatically create an ECR repo when executing a Docker push"
Currently, it is required for a repository to exist within ECR before it accepts a Docker push.
It would be a powerful feature if the ECR helper would check to see if a repo exists, and if not, automatically create it and then execute the Docker push command.

This could be the default action or enabled using a command line flag.

[2020-04-23 23:14] samuelkarp commented on #209
Thanks for opening this, but I think the request would generally be better for the [containers roadmap](https://github.com/aws/containers-roadmap).  Create-on-push would be an ECR feature.

I don't think we should implement create-on-push in the credential helper for a few reasons:
* Create-on-push is a generally useful feature that would help customers of ECR, regardless of how they manage authen

[2020-04-23 23:14] #209 closed

[2020-04-24 17:29] AceHack opened #210 "How does this work with Docker Desktop Kubernetes"
Inside docker desktop kubernetes it is not using these credentials.

[2020-04-26 05:09] alexmac commented on #94
I'm surprised there isn't an easier way to front ECR behind a CNAME, it's definitely a usability failure in my opinion. Nevertheless I was able to cobble together workaround which others hitting this might be interested in.

First you need to setup some kind of proxy that can rewrite both request and response headers. I used haproxy. The relevant part of the config that reqwrites both the Host(req

[2020-04-28 01:30] bertramn commented on #154
@samuelkarp are we going to get any resolution to this issue?

[2020-04-28 10:35] Minipada opened #211 "Runtime error when running on a Yocto built OS"
Hi,
I am trying to run the latest release on a OS created with the [Yocto project](https://www.yoctoproject.org/). This build system is an alternative to buildroot. it is heavily used in the automotive and IoT industry.

I could build the binary, but got runtime issue, it seems to link with the build system folder while it should link to the generated files.

An issue has been created here https:/

[2020-05-10 14:57] gittur commented on #161
ohh my God, thankyou so much, I've been stuck with this since the past 4 hours. Just needed to set the HOME env var in my docker-compose systemd unit file. and now docker-compose is able to pull images from ECR instad of giving me the "no basic auth credentials found" error.

[2020-05-14 10:53] ronkorving opened #213 "Make configuration easier for non-technical people"
I noticed that `gcloud` makes configuration easier by allowing you to run `gcloud auth configure-docker` which seems to register a bunch of domains with their credHelper. It would be nice if the ECR cred helper had a single CLI command that would self-register it for all things ECR.

I've had a hard time finding Docker's config.json specification, so don't know if wildcards for example even work,

[2020-05-17 18:53] WhyNotHugo commented on #213
Actually, wildcards are not supported, and I'd love to see that happen. E.g.: using the following would be more than ideal:

[code]

[2020-05-17 19:08] WhyNotHugo opened #214 "Failure in authentication when `credStore` is set"
I'm using `credStore` by default for my docker.io credentials, but want to use this helper for AWS only.

However, the following does not seem to work:

[code]

Returns:

[code]

Is this an issue with the helper or a docker issue?

[2020-05-22 10:20] abitrolly commented on #186
Shellcode.
[code]

[2020-05-27 10:40] PurityMaina commented on #101
Was this solved for Ubuntu 18?

[2020-05-27 20:39] lanshark commented on #213
On that subject, how about an actual example of using ecr-login for one account, and normal config for another account.  You mention that both are possible, and show config for each, but no idea how to actually combine the two.

[2020-06-01 04:04] fred-vogt opened #215 "IAM role credentials not working if EC2 IMDSv2 session tokens 'required'"
EC2 Instance Metadata V2 support needs a newer version of `github.com/aws/aws-sdk-go`.
* https://github.com/aws/aws-sdk-go/releases/tag/v1.25.38
  * See "SDK Enhancements"
* docker updated to this version to fix the aws cloudwatch logs driver
  * moby/moby: [issue #40422](https://github.com/moby/moby/issues/40422) / [PR #40474](https://github.com/moby/moby/pull/40474)

Tested with release 0.4.0.

[2020-06-01 10:38] fred-vogt commented on #215
I tested this out with a custom build:
* https://github.com/fred-vogt/amazon-ecr-credential-helper/tree/IMDSv2/aws-sdk-go-1.31.7
  * https://github.com/fred-vogt/amazon-ecr-credential-helper/releases

NOTE: couldn't figure out how to update the existing dependency, so used go modules instead

The current latest `github.com/aws/aws-sdk-go` - 1.31.7 doesn't have this issue.

[2020-06-04 17:27] pjroth opened #216 "Using mfa_serial causes failure to authenticate when MFA code is required"
I have mfa_serial configured as well as `credential_process = aws-vault exec default --json --prompt=terminal` in my `~/.aws/config` I get the following errors when running this command:

`# AWS_SDK_LOAD_CONFIG=true docker pull 496076859928.dkr.ecr.us-east-1.amazonaws.com/my-service:1.0.0
Enter token for arn:aws:iam::496076859928:mfa/myusername: Enter token for arn:aws:iam::496076859928:mfa/myuser

[2020-06-04 17:29] pjroth commented on #216
It is possible this is related to #180 although the log messages in that issue don't look the same is what I see.

[2020-06-11 14:34] awiddersheim commented on #6
@samuelkarp Apologies for bringing this old issue up but we recently started seeing some issues with the cache being unbounded in it's size. Had one cache grow to `500mb` on our CI server. When multiple pulls were happening the loading of the cache, serializing and possible de-serializing back to the cache was causing both fairly high CPU consumption. We will be following your advice [here](https:

[2020-06-18 03:05] man-jiteshm-sportsbet opened #219 "Randomly getting MissingRegion error on Jenkins slave EC2 box."
Hi Guys,

we have this plugin installed on the jenkins build agent that authenticates to ECR to push an image.

its a bit of a hit and miss scenario. the AMI has the plugin installed. it seems to work on newly created agents however once in a while it throws the below error randomly on an agent.

This used to work perfectly fine when we installed it from source.

We recently moved to yum install a

[2020-06-18 03:32] man-jiteshm-sportsbet commented on #219
looks like a repeat of
https://github.com/awslabs/amazon-ecr-credential-helper/issues/63

[2020-06-18 03:32] #219 closed

[2020-06-18 03:45] man-jiteshm-sportsbet commented on #63
can i suggest that the plugin should also honor if AWS_DEFAULT_REGION variable is present rather than only searching for AWS_REGION.

[2020-06-18 07:37] hanyouqing opened #220 "Failed to get authorization token: NoCredentialProviders with brew installed package."
I've got errs while I use the package installed with `brew install docker-credential-helper-ecr`

[code]

but when i uninstall it and build from source it work well, I can't get more infromation, any one who can give me some sugesstion?

Environemnt:

[code]

[2020-06-18 20:22] samuelkarp commented on #210
Hi @AceHack.  Unfortunately I'm not very familiar with Docker Desktop or its Kubernetes integration.  However, my understanding is that generally Kubernetes handles credentials independently of Docker.  According to the [Kubernetes documentation](https://kubernetes.io/docs/concepts/containers/images/#configuring-nodes-to-authenticate-to-a-private-registry):

[2020-06-18 21:22] samuelkarp commented on #154
Hey @bertramn!  I'd like to keep the default behavior as-is.  I provided a work-around above (see https://github.com/awslabs/amazon-ecr-credential-helper/issues/154#issuecomment-472988526).  I'd also be comfortable accepting a contribution adding a conditional behavior keyed off the presence of an environment variable.

[2020-06-18 21:52] samuelkarp commented on #211
Hi @Minipada!

My apologies for the delayed response.  I am not very familiar with the Yocto project.  Can you share a bit more information with me, like the architecture you're building for and any non-standard compilation or linker options are being applied to Go projects in Yocto?  I found [this patch](https://git.yoctoproject.org/cgit/cgit.cgi/poky/tree/meta/recipes-devtools/go/go-1.14/0009-ld

[2020-06-19 11:20] Minipada commented on #211
Thanks for the answer. Here are some more infos
1. architecture: x86-64
2. i'm using glibc used (git://sourceware.org/git/glibc.git;branch=release/2.29/master)
3. Go is also cross compiled, so here are all the flags used:
[code]
It doens't seem to use any external linker, GO_LINKMODE is empty, probably indicating it is using auto. I also cross compiled a hello world application, working fine with

[2020-06-24 09:01] czechnology commented on #214
I seem to have similar issues even when setting the default `credsStore` (btw, note the two S's). I can pull the image but when I try to run the docker build, it fails on the FROM directive while trying to get the `..REGISTRY../v2/..IMAGE../manifests/latest` with `no basic auth credentials`.

The weird thing is that `~/.ecr/cache.json` appears but never a log file in the same dir (as per the docs)

[2020-06-24 18:44] samuelkarp commented on #213
Hey @ronkorving, thanks for opening this issue!  The credential helper today does require a bit of hands-on work to start using it, which is unfortunate.  Early on when building the credential helper I had considered automatically injecting configuration into the config.json.  At the time, I decided against doing so as I believed it would be fragile; modifying an existing config.json risks breakin

[2020-06-25 12:00] czechnology opened #222 "Outdated builds in various repositories"
Looking at the repositories: https://repology.org/project/amazon-ecr-credential-helper/versions
It seems that a lot of them contain outdated versions, in particular for Debian the newest version is 0.2.0, which is not working correctly in my testing (also producing no logs, thus hard to debug).

Would it be possible to update the packages to newer versions, at least for Debian, which is described

[2020-06-25 19:45] samuelkarp commented on #215
Hi @fred-vogt, thanks for opening this issue!  You're correct that the version of the AWS SDK needs to be upgraded in order to use IMDSv2.  I've had this on my todo list for a while, but unfortunately haven't gotten around to it.  My colleague opened https://github.com/awslabs/amazon-ecr-credential-helper/pull/221 to move to Go modules, which should make it a bit easier to upgrade as [dep](https:/

[2020-06-26 21:32] samuelkarp commented on #215
I've merged https://github.com/awslabs/amazon-ecr-credential-helper/pull/221 and the credential helper is now using Go modules.  If you want to update the SDK and send a pull request, I'd be glad to have it.  Note that we're currently still vendoring dependencies, so you'll need to run [`go mod vendor` to sync the vendor directory](https://golang.org/ref/mod#tmp_28).

[2020-06-26 21:35] fred-vogt commented on #215
@samuelkarp - score.  Will send over a PR later today.

[2020-06-27 07:56] fred-vogt commented on #215
Didn't get to it yet.  Will do Monday.

[2020-07-01 13:52] nunofgs commented on #220
Same here. Any solution?

[2020-07-02 18:50] abwiggins commented on #161
I've spent quite some time trying to figure this out. I am able to have the credential provider resolve the request to ECR when using a login-shell. But, when I try to automate this using systemd I am not able to authenticate. I set the HOME & AWS_ECR_CACHE_DIR variable in my systemd service file but still no luck. How can I get this to work with a non-login shell? Am I missing ENV vars? The error

[2020-07-02 19:02] douglasg-teachco commented on #220
Same here.

[2020-07-09 05:55] GwonsooLee opened #224 "ecr custom domain"
We have trouble in using kaniko with amazon-ecr because we useed custom ecr domain name
But, because of this ecrPattern check, it is not possible to login.

Is there any other way to fix this problem?

[code]
https://github.com/awslabs/amazon-ecr-credential-helper/blob/68cfee07af64dcc2a171c20eb6f3e13e9550920a/ecr-login/api/client.go#L34

[2020-07-09 11:36] bjethwan opened #225 "How to use this with Jenkins?"
How to use this with Jenkins?
Do I need a custom ecr plugin like this one: https://plugins.jenkins.io/amazon-ecr/
Or just configuring the docker daemon with amazon-ecr-credential-helper on the jenkins slave be enough?

Our jenkins pipleline has to create the repo if it doesn't already exist.
How can I get a token to authenticate to aws ecr for creating the repo using something like below curl comm

[2020-07-09 15:15] bjethwan commented on #225
I tried installing this on my Jenkins slave and removed credentials from below groovy script as

[code]

And it failed stating "no basic auth credentials". While docker push directly from the slave machine works fine.

[2020-07-10 01:12] samuelkarp commented on #216
`credential_process` is supported, but interactive credential processes (like `aws-valut --prompt=terminal`) are not.  Like https://github.com/awslabs/amazon-ecr-credential-helper/issues/180#issuecomment-549943135, the credential helper doesn't have a way to prompt for input itself or to delegate that ability out.

I don't anticipate a way to add this ability unless the Docker credential helper pr

[2020-07-10 01:12] #216 closed

[2020-07-10 21:06] samuelkarp commented on #6
Reopening per @awiddersheim's comment.

Can you tell me a bit about your CI setup?  Are you interacting with many different registries?  Are you using a credential source that has frequently-changing access keys?

[2020-07-10 23:21] samuelkarp commented on #63
@man-jiteshm-sportsbet I'd be happy to take a pull request to that effect.

[2020-07-10 23:30] onyxraven opened #227 "Downloading latest binary directly?"
On github you can now link to the latest release asset directly https://docs.github.com/en/github/administering-a-repository/linking-to-releases - but it seems like potentially this system doesn't like the slashes in your release paths.

Expected to work:

[code]

Actual:

[code]

Is there another good way to get the latest (without going down the old road of parsing the page)? an S3 link perhaps?

[2020-07-11 00:24] awiddersheim commented on #6
It's an EC2 instance that runs Jenkins and pulls images pretty frequently using it's instance role.

[2020-07-15 14:31] aleskiontherun opened #228 "EOFError instead of Token prompt when used with aws-okta-processor"
We are using [aws-okta-processor](https://github.com/godaddy/aws-okta-processor) to authenticate users. ECR access works fine when the session is already established, but initial authentication fails.

So this works fine:
[code]

But this does not:
[code]

After entering Okta password we get the following error:
[code]
It prompts the password again and after entering it for the second time it thro

[2020-07-20 18:58] tahoward commented on #228
I took a look at this issue. This appears to be a problem with how docker executes external processes:
https://github.com/godaddy/aws-okta-processor/issues/23

[2020-07-21 20:44] skyzyx commented on #227
Use the GitHub API? That's how it's done with Homebrew.

[2020-07-21 20:45] skyzyx commented on #220
Try switching from `AWS_PROFILE` to `AWS_DEFAULT_PROFILE`?

[2020-07-21 20:48] skyzyx commented on #214
Using the latest version, this worked for me:

[code]

[2020-07-21 21:20] skyzyx commented on #227
If you authenticate, though, the rate limit is much higher.￼

[2020-07-23 02:04] otaviomedeirossb opened #229 "Doesn't work with AWS SSO"
I'm trying to make it work with AWS SSO but i'm getting `NoCredentialProviders`.

I used `aws configure sso` to create a profile on my local machine and i can manually `docker login` and pull images from ECR like this:
[code]

My `~/.aws/config` looks something like:
[code]

Nothing was added to `~/.aws/credentials`.

I logged out docker, installed `docker-credential-helper-ecr` and set:

**~/.doc

[2020-07-23 16:35] FernandoMiguel commented on #229
i assume you did `aws sso login` ?

[2020-07-23 17:14] otaviomedeirossb commented on #229
@FernandoMiguel yes i did and i can pull the images if i manually login to docker.

[2020-07-23 17:35] samuelkarp commented on #220
Hey @hanyouqing, I'm sorry that you're experiencing this issue.  I'm not an expert in Mac OS or in Homebrew and I don't have a Mac to test with, so I don't know that I can provide you a solution.  However, if you're able to tell me a bit more information and try a few things we might be able to narrow down where the problem is.

What version of Mac OS are you running?

Where are you sourcing your

[2020-07-24 18:09] adespain opened #230 "make docker works when run from a shell but not ansible (used to work with ansible)"
Hello,

II am behind a proxy but when I run make docker from the console of the server which is running ubuntu 16.04 it runs fine and completes successfully.  However when I try to run it using ansible I get the following error:

[code]

Any thoughts on what has changed that could be causing it to fail now when it used to work a few months ago?  For some reason when I run make docker using the ans

[2020-07-24 22:42] adespain commented on #230
Nevermind, I found out it was a docker configuration issue where the wrong user profile was being used and the proxy wasn't configured for that user.  Once I used the correct user profile with the proxy config defined in .docker/config.json it worked.  Sorry to bother :)

[2020-07-24 22:42] #230 closed

[2020-07-27 20:38] samuelkarp commented on #211
I know this doesn't satisfy the desire to have it packaged properly in Yocto, but there are statically-linked x86-64 binaries available on the [Releases page](https://github.com/awslabs/amazon-ecr-credential-helper/releases).

Does the cross-compiled hello-world application use the `regexp.MustCompile` function?  I wonder if something is specifically weird about that package.

I'm wondering if the

[2020-07-29 13:41] beemi commented on #40
export AWS_PROFILE=profileName
AWS_PROFILE=profileName docker-compose up --build

Works for me

[2020-08-04 10:03] benhowes commented on #181
Hi @samuelkarp I'm planning to take a look at this - do you have any ideas what you wanted in terms of a new environment variable?

I've not looked at this a great deal yet, but I'm even wondering if it would be possible to just use the presence of `AWS_PROFILE` to trigger the `NewClientWithExplicitProfile` flow?

[2020-08-04 14:36] ryandens opened #232 "Credentials not found when using source_profile without specifying AWS_SDK_LOAD_CONFIG"
Hello! I'm having some trouble taking advantage of some functionality added in the latest release regarding pulling credentials from an assumed role specified with `role_arn` and `source_profile`. I confirmed I'm on the latest release [v0.4.0](https://github.com/awslabs/amazon-ecr-credential-helper/releases/tag/v0.4.0) which mention the `source_profile` functionality in the release notes.
[code]

[2020-08-05 23:58] yankeecharlie opened #233 "Update README.md for configuring docker profile"
**Description of Problem:**
In the configuration instruction for docker config (https://github.com/awslabs/amazon-ecr-credential-helper#docker) , the `set the content of your ~/.docker/config.json file` wording may give user the impression that the config file will be placed under current user (e.g. /home/ec2-user/.docker/config.json in AWS EC2 instances), regardless how docker is installed.

This

[2020-08-10 02:49] missedone opened #234 "IRSA doesn't work with 0.4.0"
per the release notes 0.4.0
* Feature - Added support for Web Identities and IAM Roles for Service Accounts (IRSA) with Kubernetes (#183)
https://github.com/awslabs/amazon-ecr-credential-helper/releases/tag/v0.4.0

however it doesn't work, i see err in `~/.ecr/log/ecr-login.log`

time="2020-08-09T10:58:07-07:00" level=debug msg="Calling ECR.GetAuthorizationToken" registry=511263661634
time="2020-0

[2020-08-10 23:07] mmuppidi opened #235 "Support for Ubuntu 16.04 and 18.04"
Many Enterprise users are still using 16.04 and 18.04 flavors of Ubuntu. credential helper needs to support these versions of operating systems as well.

[2020-08-11 04:09] itssimon commented on #234
Setting the following environment variables made it work for me:

[code]

Would be good if this was documented properly.

[2020-08-11 16:37] missedone commented on #234
it should be default behavior on supporting IRSA, EC2 iam, etc.
so i think it's a bug, anyway build from master branch works as expected.

[2020-08-24 19:43] pikeas opened #236 "Homebrew formula is out-of-date"
[code]

[2020-09-08 05:11] pace1 opened #238 "c/dockerf/config.json"

[2020-09-08 16:34] samuelkarp commented on #238
Hi @pace1, did you have a specific question?

[2020-09-08 17:14] pace1 commented on #238
Apologies Samuel, please ignore, this must have been a glitch my side, I was just browsing.

[2020-09-08 17:37] samuelkarp commented on #238
No worries!

[2020-09-08 17:37] #238 closed

[2020-09-09 16:27] UmarHayatKhan commented on #76
Please update your aws cli and then try this command
`aws ecr get-login-password --region <AWS_REGION> | docker login --username AWS --password-stdin <account_id>.dkr.ecr.<AWS_REGION>.amazonaws.com`

[2020-09-10 11:43] ryshiselect opened #239 "Windows 10 running aws ecr docker login"
Error:

Error saving credentials: error storing credentials - err: exit status 1, out: `not implemented`

I am using azure login as well to connect to our AWS

[2020-09-14 04:36] bertramn commented on #154
That is unfortunate - the hack with the shell script is not an option for us.

[2020-09-14 04:36] #154 closed

[2020-09-22 16:46] samuelkarp commented on #94
https://github.com/aws/containers-roadmap/issues/299 is the issue in the roadmap tracking general support for custom domains in ECR.

[2020-09-22 16:49] samuelkarp commented on #224
This request is being tracked in https://github.com/awslabs/amazon-ecr-credential-helper/issues/94 and in https://github.com/aws/containers-roadmap/issues/299.  Closing this issue in favor of those.

[2020-09-22 16:49] #224 closed

[2020-09-22 18:00] samuelkarp commented on #210
There's active work going on in the Kubernetes community to add support for out-of-process credential providers: https://github.com/kubernetes/kubernetes/pull/94196.  Closing this issue; you can follow that pull request.

[2020-09-22 18:00] #210 closed

[2020-10-02 11:53] pbzdyl commented on #63
I have the same issue. I would think that if `docker pull` works without setting `AWS_REGION` env var, `docker build` with `FROM` referencing the same image as the `docker pull` command would work fine.

[code]

[2020-10-02 19:00] simon-weber commented on #180
If you have a valid cache this sort of works:
[code]

[code]

I imagine you'd need to do something more sophisticated to handle multiple roles/accounts, though.

[2020-10-07 13:15] awilkins commented on #229
Not everything can read the credential store that SSO uses, which is a bunch of JSON files in `~/.aws/sso/cache`, but they contain the same stuff you'd get from any other sts:AssumeRole - access key id, secure access key, and session token - albeit encoded as a JWT.

Maybe try this small util I wrote that does an SSO login and copies the credentials into your "normal" `~/.aws/credentials` file.

h

[2020-10-07 13:17] awilkins commented on #235
It's a Go program ; it's statically linked and has no runtime dependencies, there's no reason why it wouldn't work on 18.04 or 16.04.

You should in theory just be able to download the deb file and unpack the executable to `~/.local/bin`

[2020-10-07 13:43] awilkins commented on #180
The key bit is in `factory.go` where there are 2 calls to `session.NewSessionWithOptions()`

The API has a slot for `AssumeRoleTokenProvider` which is just a `func() (string, error)` that returns the MFA token as a string, but the cred helper doesn't populate this slot in the call, so if you use a profile that has `mfa_serial` set it will error with

[code]

What is probably could do with is ...

[2020-10-14 06:41] lachlancooper commented on #229
The solution I use with other applications that do not yet natively support AWS SSO is an external [`credential_process`](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-sourcing-external.html), using a tool like https://github.com/benkehoe/aws-sso-credential-process

However, this doesn't currently work with `amazon-ecr-credential-helper`. In the logs I get an error like the follow

[2020-10-20 08:23] overbit commented on #229
This issue is becoming more important with the release of the latest version of docker v2.4.0. There seems to be a limit of 2500 characters on the auth token that makes the `aws ecr get-login-password` method not working (check here https://github.com/aws/aws-cli/issues/5636).

[2020-10-22 01:06] Nuru commented on #102
There is no need to use `docker login` or `docker logout` when using the ecr-credential-helper. You are authenticated automatically when needed by `docker`.

[2020-10-24 23:26] Nuru commented on #234
Noticing the same behavior with v0.4.0, although in my case there is no `~/.aws/config` file. I have a Kubernetes Pod effectively using an IAM Role for Service Accounts with other AWS tools, but this tool uses the EC2 instance role, not the service account role.

[2020-10-29 19:46] RulerOf commented on #232
Thanks for this analysis.

To be clear to anyone who wanders in here: **Installing from source fixes this problem**.

[2020-11-03 17:44] chalford commented on #220
I seem to be experiencing this error too. I've got a profile with a `credential_process`.
I used `dtruss`, and I could see the ~/.aws/credentials file being opened, but weirdly, not the ~/.aws/config file. I tested what would happen if I commented out the `credential_process` line the ~/.aws/config file, and I got exactly the same error in the log files.

[2020-11-03 17:48] chalford commented on #220
Ah, this is linked to #232. Once I added `AWS_SDK_LOAD_CONFIG=true` to my command line, the config file was read and my `credential_process` worked. Any chance of a new release to homebrew?

[2020-11-04 03:49] jzhangflir opened #242 "Permission Denied when using IAM Roles for Service Accounts (IRSA) with cross account"
Hi, I am getting permission denied when pushing images cross account using assume role with IRSA. Not sure where i did wrong, please help!
Here are my configurations

~/.aws/config

[code]

I have tried pushing the docker image to repo in accountB, while setting the AWS_PROFILE=int-profile, and here is the error message.

`error checking push permissions -- make sure you entered the correct tag na

[2020-11-04 13:01] RulerOf commented on #220
@chalford AFAIK, the maintainers need to package a release and then the rest of it should fall in place.

[2020-11-04 13:59] larryon commented on #220
Sollution for me : Don't use capitals in ~/.aws/secrets
This works:
[code]
This doesn't:
[code]

[2020-11-09 15:29] mkaschke commented on #164
Is there a solution for it? I am running into the same issue. I have multiple accounts in the credentials.

[2020-11-09 17:34] samuelkarp commented on #164
@mkaschke Please open a new issue with details of the problem you're running into.  Thanks!

I'm locking this issue.  If anyone in the future is running into problems, please open a new issue to describe the problems you're encountering.

[2020-11-13 12:20] larstobi opened #246 "CodeBuild docker build fails with no basic auth credentials but docker pull works"
With our /root/.docker/config.json file like this:
`{"credsStore": "ecr-login"}`

`docker build` fails with `no basic auth credentials`. However, when we run `docker pull` on the exact same image, it works just fine.

To me it looks to have similar symptoms to #76.

The `buildspec.yml` we're using:
[code]

The `.ecr/log/` logs:
[code]

CodeBuild image: aws/codebuild/amazonlinux2-x86_64-standard:3.

[2020-11-18 22:45] StephanePaulus commented on #181
Hi @benhowes, I am currently blocked from using the credential helper as I need use `credential_source = Environment` in my ~/.aws/config. Any idea what the status is on your PR? Do you know of a workaround without making my own binary?

[2020-11-19 13:11] benhowes commented on #181
@StephanePaulus the PR works, but does require you to build it. I'm quite surprised to have not heard anything from the AWS team about it by now to be honest! FWIW it is quite easy to build/distribute a binary for go if you need to and it's looking like we're going to have no choice but to do that.

[2020-11-19 19:33] kzys commented on #181
@benhowes Sorry about that. I've just reviewed your PR.

[2020-11-25 20:49] NathanielRN commented on #207
Thank you for your comments @adespain !

My issue was that I didn't have

[code]

in my `~/.docker/config.json` 😄

[2020-12-02 05:53] TBBle commented on #232
I just bounced off this too. [Docker Desktop from 2.4.0.0 is now bundling the latest release of this helper](https://docs.docker.com/docker-for-windows/release-notes/#docker-desktop-community-2400), so it'd be good to have a new release so that the bundled version with Docker Desktop has the fix for #198 by default.

For now, a feasible workaround is to set the env-var `AWS_SDK_LOAD_CONFIG=true`.

[2020-12-02 06:05] TBBle commented on #242
If you're using the latest release of the helper (0.4.0), this may be #232 .

Try setting the env-var `AWS_SDK_LOAD_CONFIG` to `true`, to make `source_profile` work.

[2020-12-04 16:59] rhertogh commented on #229
It's not a solution in all situations but for those looking for a workaround for trying to push from a local computer the following might work:
* Navigate to https://your-company.awsapps.com/start
* Under the desired account select "Command line or programmatic access"
* Copy the AWS environment vars for the desired operating system
* Paste them in a console
* Amazon-ecr-credential-helper will now

[2020-12-04 17:17] dougrday commented on #229
For those that need to support many teams with this, I've created a temporary workaround credential helper.
https://github.com/dougrday/docker-credential-plaintext

It's working with our teams with AWS SSO, but it's definitely not the "secure" solution. Our tokens only live for 4 hours though, so the security window is fairly small.

[2020-12-05 02:12] johnkeates opened #247 "Support for AWS SDK configuration in the docker.json instead of on the command line"
I'm currently running in to the known configuration where you have to prefix your docker commands with `AWS_SDK_LOAD_CONFIG=true AWS_PROFILE=ecr` in order to get it to use the correct profile and load the correct credential_process, it would be nice if we could specify both in a file elsewhere (~/.ecr/config.json comes to mind or perhaps if docker were to support it inside ~/.docker/config.json to

[2020-12-07 19:46] PatrickXYS opened #248 "[Feature Request] Add Support for Public ECR"
Given we have launched [Public ECR registry](https://aws.amazon.com/blogs/aws/new-amazon-ec2-g4ad-instances-featuring-amd-gpus-for-graphics-workloads/?nc1=b_nrp) last week, we should expect huge volume of feature-requests for using amazon-ecr-credential-helper with public ecr support added.

We're experimenting POC for CD pipeline by using amazon-ecr-credential-helper, and expect to massively use

[2020-12-07 19:47] PatrickXYS commented on #248
/cc @samuelkarp @kzys

Appreciate any insights from you!

[2020-12-08 17:46] Jeffwan commented on #248
Seems ecr internally doesn't handle public registry. Instead, a separate API is used.

https://docs.aws.amazon.com/sdk-for-go/api/service/ecrpublic/

To give the best user experience, I think it's great to support public ecr in this credential helper as well rather than creating separate one. It should determine the api to use based on the registry patterns internally and hide as many details as i

[2020-12-08 18:23] jahkeup commented on #248
Thanks for bringing this up!

You're exactly right, this means the credential helper will need to be refactored a bit to handle both ECR refs and ECR Public refs in order to provide the correct set of credentials to Docker. Today, the credential helper assumes that it either is or isn't responsible for ECR refs only and has a single factory that is configured based on the ref.

[2020-12-16 11:48] johnnyshields commented on #248
AWS team, this is a huge issue. I'm flabbergasted that ECR Public was launched without this. We switched all our builds from DockerHub to ECR Public only to be in a worse situation re: rate limiting. Builds are broken everywhere 🔥🔥🔥

Please make sure cross-region support is included in this; we are hosting in `ap-northeast-1`

[2020-12-16 20:04] vivekpd15 commented on #248
+1

[2020-12-17 20:23] micahhausler opened #249 "Add support for mapping a registry to a specific AWS_PROFILE"
In the EKS Distro, we use ecr-credential-helper with [buildkit](https://github.com/moby/buildkit) to pull base images and push images, but we often have base images in one account, and need to push images to a separate account. Rather than using [ECR repository policies](https://docs.aws.amazon.com/AmazonECR/latest/userguide/repository-policies.html) to grant a single IAM role permission to do a i

[2020-12-17 20:30] micahhausler commented on #249
This might also solve #247, I'll let @johnkeates weigh in if he wants to fold his ask into this issue

[2020-12-17 23:03] johnkeates commented on #249
@micahhausler This would indeed be the same issue. I was under the impression that AWS_PROFILE was only used/read if we also specifically set AWS_SDK_LOAD_CONFIG to true, so we'd still need both environment variables, right?

[2020-12-18 00:34] micahhausler commented on #249
`AWS_PROFILE` is used by newer non-python SDKs (like Go) and and AWS CLI v2, and `AWS_DEFAULT_PROFILE` is used by the CLI v1 and in the Go SDK if `AWS_SDK_LOAD_CONFIG=1` is set.

[2020-12-22 19:29] samuelkarp commented on #161
Hi @mdierolf! I haven't heard back from you in a while, so I'm going to close this issue. Please feel free to re-open it or to open a new issue if you have any further questions.

[2020-12-22 19:29] #161 closed

[2020-12-22 19:32] samuelkarp commented on #228
Hi @dizeee and @tahoward! The credential helper does not currently have a mechanism to prompt for input today. I'm going to mark this as an enhancement; there may need to be changes in the Docker CLI for allowing a credential helper to accept additional input.

[2020-12-22 19:34] samuelkarp commented on #214
Hi @WhyNotHugo! Docker does not support wildcards in the `credHelpers` section of `~/.docker/config.json`. This will need to be a feature request on the Docker side. Since this is not a bug or feature request in the credential helper itself, I'm going to close this issue.

[2020-12-22 19:34] #214 closed

[2020-12-22 19:36] samuelkarp commented on #211
Hi @Minipada! I haven't heard back from you in a while, so I'm going to close this issue. Please feel free to re-open it or to open a new issue if you have any further questions.

[2020-12-22 19:36] #211 closed

[2020-12-22 19:39] samuelkarp commented on #233
Hi @yankeecharlie! I'd be happy to take a pull request in the README and manual page if you're interested in contributing.

One small note about your suggested words here: the location of the root user's home directory is distribution-dependent and not standardized, so `/root/.docker/config.json` isn't necessarily the right answer everywhere.

[2020-12-22 19:41] samuelkarp commented on #239
Hi @ryshiselect! The credential helper does not require you to run `aws ecr get-login` or `aws ecr get-login-password`.  Please see the [usage instructions](https://github.com/awslabs/amazon-ecr-credential-helper/blob/master/README.md#usage).  I'm going to close this issue, but please feel free to open a new issue if you have any further questions.

[2020-12-22 19:41] #239 closed

[2020-12-22 19:43] Minipada commented on #211
Hi @samuelkarp unfortunately I didn't find the opportunity to dig more into it. I'll ping if needed. Thank you

[2020-12-22 19:49] samuelkarp opened #251 "Document limitations with `docker build`"
`docker build` requires credentials to be known up-front rather than on-demand as specified in the `FROM` lines.  This means that the credential helper needs to guess what credentials might be required and serve them ahead of being asked.  This guessing is accomplished by inspecting the previously-referenced registries that are stored in the cache file and populating those as the output of `docker

[2020-12-22 19:50] samuelkarp commented on #63
I've opened https://github.com/awslabs/amazon-ecr-credential-helper/issues/251 to track the need for better documentation of limitations related to `docker build`.

[2020-12-22 22:55] samuelkarp commented on #234
The next release is expected to default `AWS_SDK_LOAD_CONFIG` to `true`.

[2020-12-28 12:13] guilhermeheinen commented on #229
@dougrday . Your solution is the only one that worked for me. I understand the risk of exposing the password for a short period of time. That said, it is the only workaround until other credential helpers solve this issue.
Thanks!

[2020-12-29 13:05] stuart-warren opened #254 "support iot credential provider"
it would be great to be able to point to AWS iot thing TLS credentials and for this helper to also perform the iot credential provider dance first

https://aws.amazon.com/blogs/security/how-to-eliminate-the-need-for-hardcoded-aws-credentials-in-devices-by-using-the-aws-iot-credentials-provider/

My assumption is that there would need to be a standard config file or env vars containing:
* ca cert
*

[2021-01-14 11:52] ericvilla commented on #229
I @otaviomedeirossb, as already stated, AWS CLI v2 will write AWS SSO temporary credentials under ~/.aws/cli/cache folder, which in many cases ends up to a "credentials not found" issue. I'm currently working on an [open source project](https://github.com/Noovolari/leapp) that addresses this problem too. Indeed, it provides support to AWS SSO and lists you all the IAM Roles that your AWS SSO User

[2021-01-15 10:52] TBBle commented on #249
`AWS_SDK_LOAD_CONFIG` is effectively set by default, as of #201 (merged in February 2020), which will be part of the next release.

[2021-01-15 13:42] johnkeates commented on #249
Odd, I couldn't get it to work without that. Perhaps I was using an old release.

[2021-01-15 13:52] TBBle commented on #249
There hasn't been a release with this fix yet, it happened after 0.4.0, which is the most recent release. It'll be in the _next_ release.

[2021-01-15 15:00] johnkeates commented on #249
Ah yes, that makes sense. I was confusing a merge with a direct release afterwards ;-)

[2021-01-15 18:50] TylerLubeck commented on #229
I've also taken a stab at this, and ended up with something that doesn't rely on node and doesn't store temp credentials anywhere*. It's working well for me, and hopefully it's of some value to the rest of you as well.

https://github.com/TylerLubeck/docker-credentials-aws-ecr-sso

*Not to say that these things are bad, they just don't fit for my use case

[2021-01-18 13:38] jerr0328 opened #256 "DNS issues on macOS with VPN / Allow enabling CGO during build"
I was having issues running the ecr-login tool while connected to VPN. My VPN client only allows DNS queries to the VPN-provided DNS server (preventing DNS leak). I realized this when looking at the logs:
[code]
It couldn't reach my router's DNS server. I'm running macOS 10.15.7.

Doing some digging, I found some issues with Golang: https://github.com/golang/go/issues/12524
I tried then cloning th

[2021-01-19 16:31] ZillaG opened #257 "Please provide installation instructions for Ubuntu 18.04"
I tried installing this on 18.04, and `makepkg` wasn't found. From what I understand, that's installed by `packman` so I cloned  that, but its installation instructions says to run `./autogen.sh` but that's nowhere to be found in the cloned files.

[2021-01-21 23:51] cwiggs commented on #251
I think I'm running into this issue.  Is this considered a bug that will be fixed?  Is there a workaround?

The workaround I thought of was just doing a `docker login` for the registry that has not been referenced before.  However I'm using this helper almost exclusively when running `docker build`, not `docker login; therefore the `docker login` workaround would probably make this helper redundan